<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dodaj wpis do dziennka</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/student/{studentId}(studentId=${studentId})}"><p class="link-text">Mój profil</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/student/journal/{studentId}(studentId=${studentId})}"><p class="link-text">Dziennik
                praktyk</p></a>
        </div>
        <div class="link">
            <a th:href="@{/student/trainingDeclaration/{studentId}(studentId=${studentId})}" target="_blank"><p
                    class="link-text">Deklaracja praktyki</p></a>
        </div>
        <div class="link">
            <a th:href="@{/student/trainingAgreement/{studentId}(studentId=${studentId})}" target="_blank"><p
                    class="link-text">Umowa organizacji praktyki</p></a>
        </div>
        <div class="link">
            <a th:href="@{/student/trainingProgram/{studentId}(studentId=${studentId})}" target="_blank"><p
                    class="link-text">Program praktyk zawodowych</p></a>
        </div>
        <div class="link">
            <a th:href="@{/student/trainingRules/{studentId}(studentId=${studentId})}" target="_blank"><p
                    class="link-text">Regulamin praktyk</p></a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Dodaj wpis do dziennka</h1>
        </div>
        <form action="#" th:action="@{/student/{studentId}/editEntry/{entryId}(studentId=${studentId}, entryId=${entryId})}" th:object="${entryToEdit}" method="post">
            <input th:field="*{student.userId}" type="hidden">
            <input th:field="*{entryId}" type="hidden">
            <div class="row">
                <div class="column">
                    <div>
                        <label for="company-name" class="form-txt">Dzień: </label>
                    </div>
                    <div>
                        <input th:value="*{day}" th:field="*{day}" type="date" name="company-name" id="company-name"
                               class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="first-name" class="form-txt">Godzina rozpoczęcia: </label>
                    </div>
                    <div>
                        <input th:field="*{startingTime}" type="time" name="first-name" id="first-name"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="last-name" class="form-txt">Godzina zakończenia: </label>
                    </div>
                    <div>
                        <input th:field="*{endingTime}" type="time" name="last-name" id="last-name" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="email" class="form-txt">Liczba godzin: </label>
                    </div>
                    <div>
                        <input th:field="*{hours}" type="text" name="email" id="email" class="form-box">
                    </div>
                </div>
            </div>
            <div class="single-row">
                <div class="column">
                    <div>
                        <label for="telephone-number" class="form-txt">Opis: </label>
                    </div>
                    <div>
                        <textarea th:field="*{description}" type="text" name="telephone-number" id="telephone-number"
                                  class="form-box-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-add">Dodaj</button>
                <a class="btn btn-cancel" th:href="@{/student/journal/{studentId}(studentId=${entryToEdit.student.userId})}">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>