<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Panel studenta</title>
    <link rel="stylesheet" href="../../static/css/profileForm.css">
    <link rel="stylesheet" th:href="@{/css/profileForm.css}">
</head>
<body>
<div class="container">
    <h1>
        Administrator serwisu jeszcze nie przydzielił przedsiębiorstwa!
    </h1>
    <div class="navigation-logout">
        <a th:href="@{/logout}">
            Wyloguj
        </a>
    </div>
    <div class="form">
        <div class="container-fluid">
            <div class="tile1">
                <h2>Dane studenta</h2>
                <p>Imię: <span th:text="${student.firstName}"></span></p>
                <p>Nazwisko: <span th:text="${student.lastName}"></span></p>
                <p>Adres:
                    <span th:text="${student.address.city}"></span>
                    <span th:text="${student.address.street}"></span>
                    <span th:text="${student.address.buildingNumber}"></span>
                    <span th:text="${student?.address?.apartmentNumber}"></span>
                    <span th:text="${student.address.zipCode}"></span>
                    <span th:text="${student.address.postOffice}"></span>
                </p>
                <p>Email: <span th:text="${student.email}"></span></p>
                <p>Numer telefonu: <span th:text="${student.telephoneNumber}"></span></p>
                <p>Index: <span th:text="${student.studentIndex}"></span></p>
                <p>Kierunek: <span th:text="${student.fieldOfStudy}"></span></p>
                <p>Średnia ocen: <span th:text="${student.averageGrade}"></span></p>
            </div>
            <div class="tile2">
                <h2>Dane Koordynatora:</h2>
                <p>Koordynator: <span th:text="${student?.coordinator?.firstName}"></span><span
                        th:text="${student?.coordinator?.lastName}"></span></p>
                <p>Email: <span th:text="${student?.coordinator?.email}"></span></p>
                <p>Numer telefonu: <span th:text="${student?.coordinator?.telephoneNumber}"></span></p>
            </div>
            <div></div>
        </div>
    </div>
</div>
</body>
</html>