<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Profil studenta</title>
    <link rel="stylesheet" href="../../static/css/profileForm.css">
    <link rel="stylesheet" th:href="@{/css/profileForm.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="application-navigation">
            <div class="link indicator">
                <a th:href="@{/student/{studentId}(studentId=${studentId})}"><p class="link-text">Mój profil</p></a>
            </div>
            <div class="link">
                <a th:href="@{/student/journal/{studentId}(studentId=${studentId})}"><p class="link-text">Dziennik
                    praktyk</p></a>
            </div>
            <div class="link">
                <a th:href="@{/student/trainingDeclaration/{studentId}(studentId=${studentId})}" target="_blank"><p
                        class="link-text">Deklaracja praktyki</p></a>
            </div>
            <div class="link">
                <a th:href="@{/student/trainingAgreement/{studentId}(studentId=${studentId})}" target="_blank"><p
                        class="link-text">Umowa organizacji praktyki</p></a>
            </div>
            <div class="link">
                <a th:href="@{/student/trainingProgram/{studentId}(studentId=${studentId})}" target="_blank"><p
                        class="link-text">Program praktyk zawodowych</p></a>
            </div>
            <div class="link">
                <a th:href="@{/student/trainingRules/{studentId}(studentId=${studentId})}" target="_blank"><p
                        class="link-text">Regulamin praktyk</p></a>
            </div>
        </div>
        <div class="navigation-logout">
            <a th:href="@{/logout}">
                Wyloguj
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="tile1">
            <h2>Dane studenta</h2>
            <p>Imię: <span th:text="${student.firstName}"></span></p>
            <p>Nazwisko: <span th:text="${student.lastName}"></span></p>
            <p>Adres:
                <span th:text="${student.address.city}"></span>
                <span th:text="${student.address.street}"></span>
                <span th:text="${student.address.buildingNumber}"></span>
                <span th:text="${student?.address?.apartmentNumber}"></span>
                <span th:text="${student.address.zipCode}"></span>
                <span th:text="${student.address.postOffice}"></span>
            </p>
            <p>Email: <span th:text="${student.email}"></span></p>
            <p>Numer telefonu: <span th:text="${student.telephoneNumber}"></span></p>
            <p>Index: <span th:text="${student.studentIndex}"></span></p>
            <p>Kierunek: <span th:text="${student.fieldOfStudy}"></span></p>
            <p>Średnia ocen: <span th:text="${student.averageGrade}"></span></p>
        </div>
        <div class="tile2">
            <h2>Dane Koordynatora</h2>
            <p>Koordynator: <span th:text="${student?.coordinator?.firstName}"></span> <span
                    th:text="${student?.coordinator?.lastName}"></span></p>
            <p>Email: <span th:text="${student?.coordinator?.email}"></span></p>
            <p>Numer telefonu: <span th:text="${student?.coordinator?.telephoneNumber}"></span></p>
        </div>
        <div class="tile4">
            <h2>Przedsiębiorstwo zatrudniające</h2>
            <p>Nazwa firmy: <span th:text="${student.company?.companyName}"></span></p>
            <p>Adres:
                <span th:text="${student.company?.address?.city}"></span>
                <span th:text="${student.company?.address?.street}"></span>
                <span th:text="${student.company?.address?.buildingNumber}"></span>
                <span th:text="${student.company?.address?.apartmentNumber}"></span>
                <span th:text="${student.company?.address?.zipCode}"></span>
                <span th:text="${student.company?.address?.postOffice}"></span>
            </p>
            <p>Rozpoczęcie praktyki: <span th:text="${student?.company?.startingDate}"></span></p>
            <p>Zakończenie praktyki: <span th:text="${student?.company?.endingDate}"></span></p>
        </div>
        <div></div>
        <div class="tile5">
            <h2>Przedstawiciel firmy</h2>
            <p>Imię:<span th:text="${student?.company?.representative?.firstName}"></span></p>
            <p>Nazwisko:<span th:text="${student?.company?.representative?.lastName}"></span></p>
            <p>Email:<span th:text="${student?.company?.representative?.email}"></span></p>
            <p>Numer telefonu:<span th:text="${student?.company?.representative?.telephoneNumber}"></span></p>
            <p>Stanowisko:<span th:text="${student?.company?.representative?.position}"></span></p>
        </div>
        <div class="guardian-list">
            <h2>Opiekunowie:</h2>
            <table>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Numer telefonu</th>
                    <th>E-mail</th>
                </tr>
                <tr th:each="guardian : ${student?.company?.guardianList}">
                    <td th:text="${guardian?.firstName}"></td>
                    <td th:text="${guardian?.lastName}"></td>
                    <td th:text="${guardian?.telephoneNumber}"></td>
                    <td th:text="${guardian?.email}"></td>
                </tr>
            </table>
        </div>
        <div class="grades">
            <h2>Lista ocen</h2>
            <table>
                <tr>
                    <th class="grade_col1"><p>Przedmiot</p></th>
                    <th class="grade_col2"><p>Ocena</p></th>
                </tr>
                <tr th:each="grade : ${student.gradeList}">
                    <td th:text="${grade.subject.subjectName}">

                    </td>
                    <td th:text="${grade.gradeNumber}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>