<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dziennik praktyk</title>
    <link rel="stylesheet" href="../../static/css/listDesign.css">
    <link rel="stylesheet" th:href="@{/css/listDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/student/{studentId}(studentId=${studentId})}"><p class="link-text">Mój profil</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/student/journal/{studentId}(studentId=${studentId})}"><p class="link-text">Dziennik
                praktyk</p></a>
        </div>
        <div class="link">
            <a th:href="@{/student/trainingDeclaration/{studentId}(studentId=${studentId})}" target="_blank"><p
                    class="link-text">Deklaracja praktyki</p></a>
        </div>
        <div class="link">
            <a th:href="@{/student/trainingAgreement/{studentId}(studentId=${studentId})}" target="_blank"><p
                    class="link-text">Umowa organizacji praktyki</p></a>
        </div>
        <div class="link">
            <a th:href="@{/student/trainingProgram/{studentId}(studentId=${studentId})}" target="_blank"><p
                    class="link-text">Program praktyk zawodowych</p></a>
        </div>
        <div class="link">
            <a th:href="@{/student/trainingRules/{studentId}(studentId=${studentId})}" target="_blank"><p
                    class="link-text">Regulamin praktyk</p></a>
        </div>
    </div>
    <h1>
        Dziennik praktyk
    </h1>
    <div class="operations">
        <a th:href="@{/student/addEntry/{studentId}(studentId=${studentId})}" class="btn btn-add">Dodaj</a>
        <a th:href="@{/student/trainingJournal/{studentId}(studentId=${studentId})}" target="_blank" class="btn btn-generate">Generuj</a>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>Dzień</th>
                <th colspan="2">Godziny pracy</th>
                <th>Liczba godzin pracy</th>
                <th>Wykonywane zadania</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="entry : ${journal}">
                <td th:text="${entry.day}" class="day-column"></td>
                <td th:text="${entry.startingTime}" class="start-end-column"></td>
                <td th:text="${entry.endingTime}" class="start-end-column"></td>
                <td th:text="${entry.hours}" class="hours-column"></td>
                <td th:text="${entry.description}" class="description-column"></td>
                <td><a th:href="@{/student/{studentId}/editEntry/{entryId}(studentId=${studentId}, entryId=${entry.entryId})}"
                       class="btn btn-edit">Edytuj</a></td>
                <td><a th:href="@{/student/deleteEntry/(entryId=${entry.entryId})}" class="btn btn-delete">Usuń</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>