<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dodaj użytkownika</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link indicator">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/interns/list}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Dziekanaty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/companies/list}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <div class="form">
        <div class="form-control">
            <div>
                <h1>Dodaj użytkownika</h1>
            </div>
            <form action="#" th:action="@{/admin/addUser}" th:object="${newUser}" method="post">
                <div class="row">
                    <div class="column">
                        <div>
                            <label for="email" class="form-txt">Email: </label>
                        </div>
                        <div>
                            <input th:field="*{email}" type="text" name="address" id="email" class="form-box">
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label for="password" class="form-txt">Hasło: </label>
                        </div>
                        <div>
                            <input th:field="*{password}" type="text" name="password" id="password" class="form-box">
                        </div>
                    </div>
                </div>
                <div class="single-row">
                    <div class="column">
                        <div>
                            <label for="role" class="form-txt">Rola: </label>
                        </div>
                        <div>
                            <input th:field="*{role}" type="text" name="role" id="role"
                                   class="form-box">
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn btn-add">Dodaj</button>
                    <a th:href="@{/admin/usersList}" type="submit" class="btn btn-cancel">Anuluj</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>