<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dodaj przedsiębiorstwo</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/admin/usersList}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/studentsList}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/internsList}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/subjectsList}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/coordinatorsList}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/admin/companiesList}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <div class="form">
        <div class="form-container">
            <div>
                <h1>Dodaj przedsiębiorstwo</h1>
            </div>
            <form action="#" th:action="@{/admin/addCompanyToInternShip}" th:object="${newCompany}" method="post">
                <h2>Dane Przedsiębiorstwa</h2>
                <div class="row">
                    <div class="column">
                        <div>
                            <label for="company-name" class="form-txt">Nazwa przedsiębiorstwa: </label>
                        </div>
                        <div>
                            <input th:field="*{companyName}" type="text" id="company-name"
                                   class="form-box">
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label for="free-spaces" class="form-txt">Ilość dostępnych miejsc: </label>
                        </div>
                        <div>
                            <input th:field="*{freeSpaces}" type="text" id="free-spaces"
                                   class="form-box">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div>
                            <label for="city" class="form-txt">Miasto: </label>
                        </div>
                        <div>
                            <input th:field="*{address.city}" type="text" id="city"
                                   class="form-box">
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label for="street" class="form-txt">Ulica: </label>
                        </div>
                        <div>
                            <input th:field="*{address.street}" type="text" id="street" class="form-box">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div>
                            <label for="building-number" class="form-txt">Numer budynku: </label>
                        </div>
                        <div>
                            <input th:field="*{address.buildingNumber}" type="text" id="building-number"
                                   class="form-box">
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label for="apartment-number" class="form-txt">Numer lokalu: </label>
                        </div>
                        <div>
                            <input th:field="*{address.apartmentNumber}" type="text" id="apartment-number"
                                   class="form-box">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div>
                            <label for="post-office" class="form-txt">Poczta: </label>
                        </div>
                        <div>
                            <input th:field="*{address.postOffice}" type="text" id="post-office"
                                   class="form-box">
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label for="zip-code" class="form-txt">Kod pocztowy: </label>
                        </div>
                        <div>
                            <input th:field="*{address.zipCode}" type="text" id="zip-code" class="form-box">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div>
                            <label for="starting-date" class="form-txt">Data rozpoczęcia praktyki: </label>
                        </div>
                        <div>
                            <input th:field="*{startingDate}" type="date" id="starting-date"
                                   class="form-box">
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label for="ending-date" class="form-txt">Data zakończenia praktyki: </label>
                        </div>
                        <div>
                            <input th:field="*{endingDate}" type="date"
                                   id="ending-date"
                                   class="form-box">
                        </div>
                    </div>
                </div>
                <h2>Dane reprezentanta</h2>
                <div class="row">
                    <div class="column">
                        <div>
                            <label for="representative-first-name" class="form-txt">Imię: </label>
                        </div>
                        <div>
                            <input th:field="*{representative.firstName}" type="text" id="representative-first-name"
                                   class="form-box">
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label for="representative-last-name" class="form-txt">Nazwisko: </label>
                        </div>
                        <div>
                            <input th:field="*{representative.lastName}" type="text" id="representative-last-name"
                                   class="form-box">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div>
                            <label for="representative-email" class="form-txt">Email: </label>
                        </div>
                        <div>
                            <input th:field="*{representative.email}" type="text" id="representative-email"
                                   class="form-box">
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label for="representative-telephone-number" class="form-txt">Numer telefonu: </label>
                        </div>
                        <div>
                            <input th:field="*{representative.telephoneNumber}" type="text" id="representative-telephone-number"
                                   class="form-box">
                        </div>
                    </div>
                </div>
                <div class="single-row">
                    <div class="column">
                        <div>
                            <label for="representative-position" class="form-txt">Stanowisko: </label>
                        </div>
                        <div>
                            <input th:field="*{representative.position}" type="text" id="representative-position"
                                   class="form-box">
                        </div>
                    </div>
                </div>
                <h2>Dane opiekuna</h2>
                <div class="row">
                    <div class="column">
                        <div>
                            <label for="guardian-first-name" class="form-txt">Imię: </label>
                        </div>
                        <div>
                            <input th:field="*{guardian.firstName}" type="text"
                                   id="guardian-first-name"
                                   class="form-box">
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label for="guardian-last-name" class="form-txt">Nazwisko: </label>
                        </div>
                        <div>
                            <input th:field="*{guardian.lastName}" type="text"
                                   id="guardian-last-name"
                                   class="form-box">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div>
                            <label for="guardian-email" class="form-txt">Email: </label>
                        </div>
                        <div>
                            <input th:field="*{guardian.email}" type="text" id="guardian-email"
                                   class="form-box">
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label for="guardian-telephone-number" class="form-txt">Numer telefonu: </label>
                        </div>
                        <div>
                            <input th:field="*{guardian.telephoneNumber}" type="text"
                                   id="guardian-telephone-number"
                                   class="form-box">
                        </div>
                    </div>
                </div>
                <div class="single-row">
                    <div class="column">
                        <div>
                            <label for="guardian-position" class="form-txt">Stanowisko: </label>
                        </div>
                        <div>
                            <input th:field="*{guardian.position}" type="text" id="guardian-position"
                                   class="form-box">
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn btn-add">Dodaj</button>
                    <a class="btn btn-cancel" th:href="@{/admin/comapniesList}">Anuluj</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>