<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dodaj wpis do dziennka</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="application-navigation">
            <div class="link ">
                <a th:href="@{/admin/usersList}"><p class="link-text">Użytkownicy</p></a>
            </div>
            <div class="link indicator">
                <a th:href="@{/admin/studentsList}"><p class="link-text">Studenci</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/internsList}"><p class="link-text">Stażyści</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/subjectsList}"><p class="link-text">Przedmioty</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/coordinatorsList}"><p class="link-text">Koordynatorzy</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/companiesList}"><p class="link-text">Przedsiębiorstwa</p></a>
            </div>
        </div>
        <div class="navigation-logout">
            <a th:href="@{/logout}">
                Wyloguj
            </a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Dodaj wpis do dziennka</h1>
        </div>
        <form action="#"
              th:action="@{/admin/addStudentEntry/{studentId}(studentId=${journal.student.userId})}"
              th:object="${journal}" method="post">
            <div class="row">
                <div class="column">
                    <div>
                        <label for="company-name" class="form-txt">Dzień: </label>
                    </div>
                    <div>
                        <input th:value="*{day}" th:field="*{day}" type="date" id="company-name"
                               class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="first-name" class="form-txt">Godzina rozpoczęcia: </label>
                    </div>
                    <div>
                        <input th:field="*{startingTime}" type="time" name="first-name" id="first-name"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="last-name" class="form-txt">Godzina zakończenia: </label>
                    </div>
                    <div>
                        <input th:field="*{endingTime}" type="time" name="last-name" id="last-name" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="email" class="form-txt">Liczba godzin: </label>
                    </div>
                    <div>
                        <input th:field="*{hours}" type="text" name="email" id="email" class="form-box">
                    </div>
                </div>
            </div>
            <div class="single-row">
                <div class="column">
                    <div>
                        <label for="telephone-number" class="form-txt">Opis: </label>
                    </div>
                    <div>
                        <textarea th:field="*{description}" type="text" name="telephone-number" id="telephone-number"
                                  class="form-box-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-add">Dodaj</button>
                <a class="btn btn-cancel" th:href="@{/admin/studentJournal/{studentId}(studentId=${journal.student.userId})}">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>