<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Profil przedsiębiorstwa</title>
    <link rel="stylesheet" href="../../static/css/profileForm.css">
    <link rel="stylesheet" th:href="@{/css/profileForm.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/admin/usersList}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/studentsList}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/internsList}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/subjectsList}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/coordinatorsList}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/admin/companiesList}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <h1>
        Profil przedsiębiorstwa: <span th:text="${company.companyId}"></span>
    </h1>
    <div class="container_fluid">
        <div class="tile4">
            <h2>Przedsiębiorstwo zatrudniające</h2>
            <p>Nazwa firmy: <span th:text="${company.companyName}"></span></p>
            <p>Adres:
                <span th:text="${company.address.city}"></span>
                <span th:text="${company.address.street}"></span>
                <span th:text="${company.address.buildingNumber}"></span>
                <span th:text="${company?.address?.apartmentNumber}"></span>
                <span th:text="${company.address.zipCode}"></span>
                <span th:text="${company.address.postOffice}"></span>
            </p>
            <p>Należy do stażu: <span th:text="${company.isPartOfInternship()}"></span></p>
        </div>
        <div class="tile5">
            <h2>Przedstawiciel firmy:</h2>
            <p>Imię:<span th:text="${company.representative.firstName}"></span></p>
            <p>Nazwisko:<span th:text="${company.representative.lastName}"></span></p>
            <p>Email:<span th:text="${company.representative.email}"></span></p>
            <p>Numer telefonu:<span th:text="${company.representative.telephoneNumber}"></span></p>
            <p>Numer telefonu:<span th:text="${company.representative.position}"></span></p>
        </div>
        <div></div>
        <div class="guardian-list">
            <h2>Opiekunowie:</h2>
            <div class="guardian-button">
                <a th:href="@{/admin/{companyId}/addGuardianToCompany(companyId=${companyId})}" class="btn btn-add">Dodaj opiekuna</a>
            </div>
            <table>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Numer telefonu</th>
                    <th>E-mail</th>
                    <th colspan="2">Akcja</th>
                </tr>
                <tr th:each="guardian : ${company.guardianList}">
                    <td th:text="${guardian?.firstName}"></td>
                    <td th:text="${guardian?.lastName}"></td>
                    <td th:text="${guardian?.telephoneNumber}"></td>
                    <td th:text="${guardian?.email}"></td>
                    <td><a th:href="@{/admin/deleteGuardian(guardianId=${guardian.guardianId})}" class="guardian-btn btn-delete">Usuń</a></td>
                    <td><a th:href="@{/admin/editGuardian/{guardianId}(guardianId=${guardian.guardianId})}" class="guardian-btn btn-edit">Edytuj</a></td>
                </tr>
            </table>
        </div>
        <div class="internsList">
            <h2>Stażyści</h2>
            <table>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>E-mail</th>
                </tr>
                <tr th:each="student : ${company.studentList}">
                    <td th:text="${student?.firstName}"></td>
                    <td th:text="${student?.lastName}"></td>
                    <td th:text="${student?.email}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>