<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dodaj ocene</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="application-navigation">
            <div class="link ">
                <a th:href="@{/admin/usersList}"><p class="link-text">Użytkownicy</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/studentsList}"><p class="link-text">Studenci</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/internsList}"><p class="link-text">Stażyści</p></a>
            </div>
            <div class="link indicator">
                <a th:href="@{/admin/subjectsList}"><p class="link-text">Przedmioty</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/coordinatorsList}"><p class="link-text">Koordynatorzy</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/companiesList}"><p class="link-text">Przedsiębiorstwa</p></a>
            </div>
        </div>
        <div class="navigation-logout">
            <a th:href="@{/logout}">
                Wyloguj
            </a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Edytuj ocene</h1>
        </div>
        <form action="#" th:action="@{/admin/editGrade/{gradeId}(gradeId=${gradeId})}" th:object="${gradeToEdit}" method="post">
            <input type="hidden" th:field="${gradeId}">
            <input type="hidden" th:field="${gradeToEdit.student.userId}">
            <input type="hidden" th:field="${gradeToEdit.subject.subjectId}">
            <div class="single-row">
                <div class="column">
                    <div>
                        <label for="grade_number" class="form-txt">Ocena: </label>
                    </div>
                    <div>
                        <input th:field="*{gradeNumber}" type="text" name="grade_number" id="grade_number"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-add">Edytuj</button>
                <span th:switch="${gradeToEdit.student.role}">
                    <span th:case="'ROLE_STUDENT'"><a class="btn btn-cancel" th:href="@{/admin/student/{studentId}(studentId=${gradeToEdit.student.userId})}">Anuluj</a></span>
                    <span th:case="'ROLE_INTERN'"><a class="btn btn-cancel" th:href="@{/admin/intern/{internId}(internId=${gradeToEdit.student?.intern?.internId})}">Anuluj</a></span>
                </span>
            </div>
        </form>
    </div>
</div>
</body>
</html>