<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Edytuj Stażyste</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/admin/usersList}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/studentsList}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/admin/internsList}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/subjectsList}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/coordinatorsList}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/companiesList}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Edytuj Stażystę</h1>
        </div>
        <form action="#" th:action="@{/admin/editIntern/${internId}}" th:object="${internToEdit}" method="post">
            <input th:field="*{internId}" type="hidden">
            <input th:field="*{student.userId}" type="hidden">
            <div class="row">
                <div class="column">
                    <div>
                        <label for="first-name" class="form-txt">Imię: </label>
                    </div>
                    <div>
                        <input th:field="*{student.firstName}" type="text" name="first-name" id="first-name" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="last-name" class="form-txt">Nazwisko: </label>
                    </div>
                    <div>
                        <input th:field="*{student.lastName}" type="text" name="address" id="last-name" class="form-box">
                    </div>
                </div>
            </div>
            <input type="hidden" th:field="*{student.address.addressId}">
            <div class="row">
                <div class="column">
                    <div>
                        <label for="city" class="form-txt">Miasto: </label>
                    </div>
                    <div>
                        <input th:field="*{student.address.city}" type="text" name="first-name" id="city" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="street" class="form-txt">Ulica: </label>
                    </div>
                    <div>
                        <input th:field="*{student.address.street}" type="text" name="address" id="street" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="building-number" class="form-txt">Numer budynku: </label>
                    </div>
                    <div>
                        <input th:field="*{student.address.buildingNumber}" type="text" name="first-name" id="building-number"
                               class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="apartment-number" class="form-txt">Numer mieszkania: </label>
                    </div>
                    <div>
                        <input th:field="*{student.address.apartmentNumber}" type="text" name="address" id="apartment-number"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="zip-code" class="form-txt">Kod pocztowy: </label>
                    </div>
                    <div>
                        <input th:field="*{student.address.zipCode}" type="text" name="first-name" id="zip-code"
                               class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="post-office" class="form-txt">Poczta: </label>
                    </div>
                    <div>
                        <input th:field="*{student.address.postOffice}" type="text" name="address" id="post-office"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="telephone-nr" class="form-txt">Numer telefonu: </label>
                    </div>
                    <div>
                        <input th:field="*{student.telephoneNumber}" type="text" name="telephone-nr" id="telephone-nr"
                               class="form-box">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="index" class="form-txt">Numer albumu: </label>
                    </div>
                    <div>
                        <input th:field="*{student.studentIndex}" type="text" name="index" id="index" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="field-of-study" class="form-txt">Kierunek: </label>
                    </div>
                    <div>
                        <input th:field="*{student.fieldOfStudy}" type="text" name="field-of-study" id="field-of-study"
                               class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="degree" class="form-txt">Stopień: </label>
                    </div>
                    <div>
                        <input th:field="*{student.degree}" type="text" name="degree" id="degree" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="email" class="form-txt">Email: </label>
                    </div>
                    <div>
                        <input th:field="*{student.email}" type="text" name="email" id="email" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="password" class="form-txt">Hasło: </label>
                    </div>
                    <div>
                        <input th:field="*{student.password}" type="text" name="address" id="password" class="form-box">
                    </div>
                </div>
            </div>
            <div class="single-row">
                <div class="column">
                    <div>
                        <label for="reserve" class="form-txt">Lista rezerwowa: </label>
                    </div>
                    <div>
                        <select id="reserve" th:field="*{reserve}">
                            <option th:value="true">Tak</option>
                            <option th:value="false">Nie</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="single-row">
                <div class="column">
                    <div th:each="company1: ${companies}">
                        <input type="radio" th:field="*{company.companyId}" th:value="${company1.companyId}">
                        <label th:text="${company1.companyName}" th:for="company1"></label>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-add">Edytuj</button>
                <a class="btn btn-cancel" th:href="@{/admin/internsList}">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>