<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Edytuj użytkownika</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="application-navigation">
            <div class="link indicator">
                <a th:href="@{/admin/usersList}"><p class="link-text">Użytkownicy</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/studentsList}"><p class="link-text">Studenci</p></a>
            </div>
            <div class="link">
                <a th:href="@{/admin/internsList}"><p class="link-text">Stażyści</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/subjectsList}"><p class="link-text">Przedmioty</p></a>
            </div>
            <div class="link">
                <a th:href="@{/admin/coordinatorsList}"><p class="link-text">Koordynatorzy</p></a>
            </div>
            <div class="link">
                <a th:href="@{/admin/companiesList}"><p class="link-text">Przedsiębiorstwa</p></a>
            </div>
        </div>
        <div class="navigation-logout">
            <a th:href="@{/logout}">
                Wyloguj
            </a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Edytuj użytkownika</h1>
        </div>
        <form action="#" th:action="@{/admin/editUser/${userId}}" th:object="${userToUpdate}" method="post">
            <input th:field="*{userId}" type="hidden">
            <div class="row">
                <div class="column">
                    <div>
                        <label for="email" class="form-txt">Email: </label>
                    </div>
                    <div>
                        <input th:field="*{email}" type="text" name="address" id="email" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="password" class="form-txt">Hasło: </label>
                    </div>
                    <div>
                        <input th:field="*{password}" type="text" name="password" id="password" class="form-box">
                    </div>
                </div>
            </div>
            <div class="single-row">
                <div class="column">
                    <div>
                        <label for="role" class="form-txt">Rola: </label>
                    </div>
                    <div>
                        <input th:field="*{role}" type="text" name="role" id="role"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-add">Edytuj</button>
                <a th:href="@{/admin/usersList}" class="btn btn-cancel">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>