<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Edytuj przedmiot</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/interns/list}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/subjects/list}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Dziekanaty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/companies/list}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Edytuj przedmiot</h1>
        </div>
        <form action="#" th:action="@{/admin/editSubject/${subjectId}}" th:object="${subjectToEdit}" method="post">
            <div>
                <p th:text="'Id: ' + ${subjectId}" class="id"></p>
            </div>
            <input th:field="*{subjectId}" type="hidden">
            <div class="row">
                <div class="column">
                    <div>
                        <label for="first-name" class="form-txt">Nazwa przedmiotu: </label>
                    </div>
                    <div>
                        <input th:field="*{subjectName}" type="text" name="first-name" id="first-name" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="last-name" class="form-txt">Kierunek: </label>
                    </div>
                    <div>
                        <input th:field="*{fieldOfStudy}" type="text" name="address" id="last-name" class="form-box">
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-add">Edytuj</button>
                <a class="btn btn-cancel" th:href="@{/admin/subjectsList}">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>