<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Edytuj przedsiębiorstwo</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/admin/usersList}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/studentsList}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/internsList}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/subjectsList}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/coordinatorsList}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/admin/companiesList}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Edytuj przedsiębiorstwo</h1>
        </div>
        <form action="#" th:action="@{/admin/editCompany/${companyId}}" th:object="${companyToEdit}" method="post">
            <input type="hidden" th:field="*{companyId}">
            <input type="hidden" th:field="*{address.addressId}">
            <input type="hidden" th:field="*{representative.representativeId}">
            <input type="hidden" th:field="*{guardian.guardianId}">
            <h2>Dane przedsiębiorstwa</h2>
            <div class="single-row">
                <div>
                    <label for="company-name" class="form-txt">Nazwa przedsiębiorstwa: </label>
                </div>
                <div>
                    <input th:field="*{companyName}" type="text" id="company-name" class="form-box">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="starting-date" class="form-txt">Data rozpoczęcia: </label>
                    </div>
                    <div>
                        <input th:field="*{startingDate}" type="date" id="starting-date" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="ending-date" class="form-txt">Data zakończenia: </label>
                    </div>
                    <div>
                        <input th:field="*{endingDate}" type="date" id="ending-date" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="city" class="form-txt">Miasto: </label>
                    </div>
                    <div>
                        <input th:field="*{address.city}" type="text" id="city" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="street" class="form-txt">Ulica: </label>
                    </div>
                    <div>
                        <input th:field="*{address.street}" type="text" id="street" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="building-number" class="form-txt">Numer budynku: </label>
                    </div>
                    <div>
                        <input th:field="*{address.buildingNumber}" type="text" id="building-number" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="apartment-number" class="form-txt">Numer lokalu: </label>
                    </div>
                    <div>
                        <input th:field="*{address.apartmentNumber}" type="text" id="apartment-number" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="zipCode" class="form-txt">Kod pocztowy: </label>
                    </div>
                    <div>
                        <input th:field="*{address.zipCode}" type="text" id="zipCode" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="post-office" class="form-txt">Poczta: </label>
                    </div>
                    <div>
                        <input th:field="*{address.postOffice}" type="text" id="post-office" class="form-box">
                    </div>
                </div>
            </div>
            <h2>Dane reprezentanta</h2>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="first-name" class="form-txt">Imię: </label>
                    </div>
                    <div>
                        <input th:field="*{representative.firstName}" type="text" id="first-name"
                               class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="last-name" class="form-txt">Nazwisko: </label>
                    </div>
                    <div>
                        <input th:field="*{representative.lastName}" type="text" id="last-name"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="email" class="form-txt">Email: </label>
                    </div>
                    <div>
                        <input th:field="*{representative.email}" type="text" id="email"
                               class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="telephone-number" class="form-txt">Numer telefonu: </label>
                    </div>
                    <div>
                        <input th:field="*{representative.telephoneNumber}" type="text" id="telephone-number"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="single-row">
                <div class="column">
                    <div>
                        <label for="position" class="form-txt">Stanowisko: </label>
                    </div>
                    <div>
                        <input th:field="*{representative.position}" type="text" id="position"
                               class="form-box">
                    </div>
                </div>
            </div>
            <h2>Dane opiekuna</h2>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="guardian-first-name" class="form-txt">Imię: </label>
                    </div>
                    <div>
                        <input th:field="*{guardian.firstName}" type="text"
                               id="guardian-first-name"
                               class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="guardian-last-name" class="form-txt">Nazwisko: </label>
                    </div>
                    <div>
                        <input th:field="*{guardian.lastName}" type="text"
                               id="guardian-last-name"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="guardian-email" class="form-txt">Email: </label>
                    </div>
                    <div>
                        <input th:field="*{guardian.email}" type="text" id="guardian-email"
                               class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="guardian-telephone-number" class="form-txt">Numer telefonu: </label>
                    </div>
                    <div>
                        <input th:field="*{guardian.telephoneNumber}" type="text"
                               id="guardian-telephone-number"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="single-row">
                <div class="column">
                    <div>
                        <label for="guardian-position" class="form-txt">Stanowisko: </label>
                    </div>
                    <div>
                        <input th:field="*{guardian.position}" type="text" id="guardian-position"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-add">Edytuj</button>
                <a class="btn btn-cancel" th:href="@{/admin/companiesList}">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>