<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Lista stażystów</title>
    <link rel="stylesheet" href="../../static/css/listDesign.css">
    <link rel="stylesheet" th:href="@{/css/listDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="application-navigation">
            <div class="link">
                <a th:href="@{/admin/usersList}"><p class="link-text">Użytkownicy</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/studentsList}"><p class="link-text">Studenci</p></a>
            </div>
            <div class="link indicator">
                <a th:href="@{/admin/internsList}"><p class="link-text">Stażyści</p></a>
            </div>
            <div class="link ">
                <a th:href="@{/admin/subjectsList}"><p class="link-text">Przedmioty</p></a>
            </div>
            <div class="link">
                <a th:href="@{/admin/coordinatorsList}"><p class="link-text">Koordynatorzy</p></a>
            </div>
            <div class="link">
                <a th:href="@{/admin/companiesList}"><p class="link-text">Przedsiębiorstwa</p></a>
            </div>
        </div>
        <div class="navigation-logout">
            <a th:href="@{/logout}">
                Wyloguj
            </a>
        </div>
    </div>
    <h1>
        Lista stażystów
    </h1>
    <div class="operations">
        <a th:href="@{/admin/addInterns}" class="btn btn-add">Dodaj stażystów</a>
        <a th:href="@{/admin/deleteAllInterns}" class="btn btn-delete">Usuń stażystów</a>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Numer Telefonu</th>
                <th>Numer albumu</th>
                <th>Kierunek</th>
                <th>Rezerwowy</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="intern : ${interns}">
                <td th:text="${intern.student.firstName}"></td>
                <td th:text="${intern.student.lastName}"></td>
                <td th:text="${intern.student.email}"></td>
                <td th:text="${intern.student.telephoneNumber}"></td>
                <td th:text="${intern.student.studentIndex}"></td>
                <td th:text="${intern.student.fieldOfStudy}"></td>
                <td th:text="${intern.reserve} ? 'REZERWOWY' : 'ZAAKCEPTOWANY'"></td>
                <td><a class="btn btn-profile" th:href="@{/admin/intern/{internId}(internId=${intern.internId})}">Profil</a></td>
                <td><a class="btn btn-delete" th:href="@{/admin/deleteIntern/(internId=${intern.internId})}">Usuń</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>