<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Profil studenta</title>
    <link rel="stylesheet" href="../../static/css/profileForm.css">
    <link rel="stylesheet" th:href="@{/css/profileForm.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/admin/usersList}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/admin/studentsList}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/internsList}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/subjectsList}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/coordinatorsList}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/companiesList}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <h1>
        Profil studenta: <span th:text="${student.userId}"></span>
    </h1>
    <div class="container-fluid">
        <div class="tile1">
            <h2>Dane studenta</h2>
            <p>Imię: <span th:text="${student.firstName}"></span></p>
            <p>Nazwisko: <span th:text="${student.lastName}"></span></p>
            <p>Adres:
                <span th:text="${student.address.city}"></span>
                <span th:text="${student.address.street}"></span>
                <span th:text="${student.address.buildingNumber}"></span>
                <span th:text="${student.address?.apartmentNumber}"></span>
                <span th:text="${student.address.zipCode}"></span>
                <span th:text="${student.address.postOffice}"></span>
            </p>
            <p>Email: <span th:text="${student.email}"></span></p>
            <p>Numer telefonu: <span th:text="${student.telephoneNumber}"></span></p>
            <p>Index: <span th:text="${student.studentIndex}"></span></p>
            <p>Kierunek: <span th:text="${student.fieldOfStudy}"></span></span>, stopień: <span
                    th:text="${student.degree}"></span></p>
            <p>Średnia ocen:
                <span th:if="${student.averageGrade > 2}"><span th:text="${student.averageGrade}"></span></span>
                <span th:unless="${student.averageGrade > 2}"></span>
            </p>
            <a th:href="@{/admin/studentJournal/{studentId}(studentId=${studentId})}">
                <div class="journal">
                    Dziennik praktyk
                </div>
            </a>
        </div>
        <div class="tile2">
            <h2>Dane Koordynatora:</h2>
            <p>Imię: <span th:text="${student?.coordinator?.firstName}"></span></p>
            <p>Nazwisko: <span th:text="${student?.coordinator?.lastName}"></span></p>
            <p>Email: <span th:text="${student?.coordinator?.email}"></span></p>
            <p>Numer telefonu: <span th:text="${student?.coordinator?.telephoneNumber}"></span></p>
        </div>
        <div class="tile4">
            <h2>Przedsiębiorstwo zatrudniające</h2>
            <p>Nazwa firmy: <span th:text="${student.company?.companyName}"></span></p>
            <p>Adres:
                <span th:text="${student.company?.address?.city}"></span>
                <span th:text="${student.company?.address?.street}"></span>
                <span th:text="${student.company?.address?.buildingNumber}"></span>
                <span th:text="${student.company?.address?.apartmentNumber}"></span>
                <span th:text="${student.company?.address?.zipCode}"></span>
                <span th:text="${student.company?.address?.postOffice}"></span>
            </p>
            <p>Rozpoczęcie praktyki: <span th:text="${student.company?.startingDate}"></span></p>
            <p>Zakończenie praktyki: <span th:text="${student.company?.endingDate}"></span></p>
            <p>Należy do stażu:
                <span th:if="${student.company?.partOfInternship}">Tak</span>
                <span th:unless="${student.company?.partOfInternship == false}">Nie</span>
            </p>
        </div>
        <div></div>
        <div class="tile5">
            <h2>Przedstawiciel firmy:</h2>
            <p>Imię:<span th:text="${student.company?.representative?.firstName}"></span></p>
            <p>Nazwisko:<span th:text="${student.company?.representative?.lastName}"></span></p>
            <p>Email:<span th:text="${student.company?.representative?.email}"></span></p>
            <p>Numer telefonu:<span th:text="${student.company?.representative?.telephoneNumber}"></span></p>
            <p>Stanowisko:<span th:text="${student.company?.representative?.position}"></span></p>
        </div>
        <div></div>
        <div class="guardian-list">
            <h2>Opiekunowie:</h2>
            <table>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Numer telefonu</th>
                    <th>E-mail</th>
                </tr>
                <tr th:each="guardian : ${student?.company?.guardianList}">
                    <td th:text="${guardian?.firstName}"></td>
                    <td th:text="${guardian?.lastName}"></td>
                    <td th:text="${guardian?.telephoneNumber}"></td>
                    <td th:text="${guardian?.email}"></td>
                </tr>
            </table>
        </div>
        <div class="grades">
            <h2>Lista ocen</h2>
            <table>
                <tr>
                    <th>Przedmiot</th>
                    <th>Ocena</th>
                    <th colspan="2">Akcja</th>
                </tr>
                <tr th:each="grade : ${student.gradeList}">
                    <td class="subject" th:text="${grade.subject.subjectName}"></td>
                    <td th:text="${grade.gradeNumber}"></td>
                    <td><a class="btn btn-edit"
                           th:href="@{/admin/editGrade/{gradeId}(gradeId=${grade.gradeId})}">Edytuj</a>
                    </td>
                    <td><a class="btn btn-delete" th:href="@{/admin/deleteGrade/(gradeId=${grade.gradeId})}">Usuń</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>