<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Lista studentów</title>
    <link rel="stylesheet" href="../../static/css/listDesign.css">
    <link rel="stylesheet" th:href="@{/css/listDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/admin/usersList}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/admin/studentsList}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/internsList}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/subjectsList}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/coordinatorsList}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/admin/companiesList}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <h1>
        Lista studentów
    </h1>
    <a th:href="@{/admin/addStudent}" class="btn btn-add">Dodaj</a>
    <div class="table">
        <table>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Numer Telefonu</th>
                <th>Numer albumu</th>
                <th>Kierunek</th>
                <th>Stopień</th>
                <th>Średnia ocen</th>
                <th colspan="3">Akcja</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.telephoneNumber}"></td>
                <td th:text="${student.studentIndex}"></td>
                <td th:text="${student.fieldOfStudy}"></td>
                <td th:text="${student.degree}"></td>
                <td>
                    <span th:if="${student.averageGrade > 2}"><span th:text="${student.averageGrade}"></span></span>
                    <span th:unless="${student.averageGrade > 2}"></span>
                </td>
                <td><a class="btn btn-profile"
                       th:href="@{/admin/student/{studentId}(studentId=${student.userId})}">Profil</a></td>
                <td><a class="btn btn-edit"
                       th:href="@{/admin/editStudent/{studentId}(studentId=${student.userId})}">Edytuj</a>
                </td>
                <td><a class="btn btn-delete" th:href="@{/admin/deleteStudent/(studentId=${student.userId})}">Usuń</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>