<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Lista przedmiotów</title>
    <link rel="stylesheet" href="../../static/css/listDesign.css">
    <link rel="stylesheet" th:href="@{/css/listDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/interns/list}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/subjects/list}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/companies/list}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <h1>
        Lista przedmiotów
    </h1>
    <a th:href="@{/admin/addSubject}" class="btn btn-add">Dodaj</a>
    <div class="table">
        <table>
            <tr>
                <th>Przedmiot</th>
                <th>Kierunek</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="subject : ${subjects}">
                <td th:text="${subject.subjectName}"></td>
                <td th:text="${subject.fieldOfStudy}"></td>
                <td><a class="btn btn-edit" th:href="@{/admin/editSubject/{subjectId}(subjectId=${subject.subjectId})}">Edytuj</a>
                </td>
                <td><a class="btn btn-delete" th:href="@{/admin/deleteSubject/(subjectId=${subject.subjectId})}">Usuń</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>