<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Lista ocen</title>
    <link rel="stylesheet" href="../../static/css/listDesign.css">
    <link rel="stylesheet" th:href="@{/css/listDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/interns/list}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Dziekanaty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/companies/list}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <h1>
        Lista ocen
    </h1>
    <div class="table">
        <table>
            <tr>
                <th>Przedmiot</th>
                <th>Kierunek</th>
                <th colspan="2">Student</th>
                <th>Ocena</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="grade : ${grades}">
                <td th:text="${grade.subject.subjectName}"></td>
                <td th:text="${grade.subject.fieldOfStudy}"></td>
                <td th:text="${grade.student.firstName}"></td>
                <td th:text="${grade.student.lastName}"></td>
                <td th:text="${grade.grade_number}"></td>
                <td><a class="btn btn-edit" th:href="@{/grades/edit/{gradeId}(gradeId=${grade.gradeId})}">Edytuj</a>
                </td>
                <td><a class="btn btn-delete" th:href="@{/grades/delete/(gradeId=${grade.gradeId})}">Usuń</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>