<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dodaj wpis do dziennka</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/intern/{internId}(internId=${internId})}"><p class="link-text">Mój profil</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/intern/journal/{internId}(internId=${internId})}"><p class="link-text">Dziennik stażu</p></a>
        </div>
        <div class="link">
            <a th:href="@{/intern/internshipBill/{internId}(internId=${internId})}"><p class="link-text">Rachunek</p></a>
        </div>
        <div class="link">
            <a th:href="@{/intern/internshipProgram/{internId}(internId=${internId})}" target="_blank"><p class="link-text">Program stażu</p></a>
        </div>
        <div class="link">
            <a th:href="@{/intern/declaration/{internId}(internId=${internId})}" target="_blank"><p class="link-text">Dekralaracja</p></a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Dodaj wpis do dziennka</h1>
        </div>
        <form action="#" th:action="@{/intern/{internId}/editEntry/{entryId}(internId=${internId},entryId=${journal.entryId})}" th:object="${journal}" method="post">
            <div class="row">
                <div class="column">
                    <div>
                        <label for="company-name" class="form-txt">Dzień: </label>
                    </div>
                    <div>
                        <input th:value="*{day}" th:field="*{day}" type="date" name="company-name" id="company-name"
                               class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="first-name" class="form-txt">Godzina rozpoczęcia: </label>
                    </div>
                    <div>
                        <input th:field="*{startingTime}" type="time" name="first-name" id="first-name"
                               class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="last-name" class="form-txt">Godzina zakończenia: </label>
                    </div>
                    <div>
                        <input th:field="*{endingTime}" type="time" name="last-name" id="last-name" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="email" class="form-txt">Liczba godzin: </label>
                    </div>
                    <div>
                        <input th:field="*{hours}" type="text" name="email" id="email" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="telephone-number" class="form-txt">Opis: </label>
                    </div>
                    <div>
                        <textarea th:field="*{description}" type="text" name="telephone-number" id="telephone-number"
                                  class="form-box"></textarea>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-add">Dodaj</button>
                <a class="btn btn-cancel" th:href="@{/intern/journal/{internId}(internId=${journal.student.userId})}">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>