<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dziennik praktyk</title>
    <link rel="stylesheet" href="../../static/css/listDesign.css">
    <link rel="stylesheet" th:href="@{/css/listDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/intern/{internId}(internId=${internId})}"><p class="link-text">Mój profil</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/intern/journal/{internId}(internId=${internId})}"><p class="link-text">Dziennik stażu</p></a>
        </div>
        <div class="link">
            <a th:href="@{/intern/internshipBill/{internId}(internId=${internId})}"><p class="link-text">Rachunek</p>
            </a>
        </div>
        <div class="link">
            <a th:href="@{/intern/internshipProgram/{internId}(internId=${internId})}" target="_blank"><p
                    class="link-text">Program stażu</p></a>
        </div>
        <div class="link">
            <a th:href="@{/intern/declaration/{internId}(internId=${internId})}" target="_blank"><p class="link-text">Dekralaracja</p></a>
        </div>
    </div>
    <h1>
        Dziennik praktyk
    </h1>
    <a th:href="@{/intern/addEntry/{internId}(internId=${internId})}" class="btn btn-add">Dodaj</a>
    <div class="table">
        <table>
            <tr>
                <th>Dzień</th>
                <th colspan="2">Godziny pracy</th>
                <th>Liczba godzin pracy</th>
                <th>Wykonywane zadania</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="entry : ${journal}">
                <td th:text="${entry.day}" class="day-column"></td>
                <td th:text="${entry.startingTime}" class="start-end-column"></td>
                <td th:text="${entry.endingTime}" class="start-end-column"></td>
                <td th:text="${entry.hours}" class="hours-column"></td>
                <td th:text="${entry.description}" class="description-column"></td>
                <td><a th:href="@{/intern/{internId}/editEntry/{entryId}(internId=${internId}, entryId=${entry.entryId})}" class="btn btn-edit">Edytuj</a></td>
                <td><a th:href="@{/intern/{internId}/deleteEntry/(internId=${internId}, entryId=${entry.entryId})}" class="btn btn-delete">Usuń</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>