<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Mój Profil</title>
    <link rel="stylesheet" href="../../static/css/profileForm.css">
    <link rel="stylesheet" th:href="@{/css/profileForm.css}">
</head>
<body>
<div class="container">
    <h1>
        Wypełnij dane związane z przedsiębiorstwem, w którym bedziesz odbywał praktykę, aby przejść danej!
    </h1>
        <div class="container-fluid">
            <div class="tile1">
                <h2>Dane studenta</h2>
                <p>Imię: <span th:text="${intern.student.firstName}"></span></p>
                <p>Nazwisko: <span th:text="${intern.student.lastName}"></span></p>
                <p>Email: <span th:text="${intern.student.email}"></span></p>
                <p>Numer telefonu: <span th:text="${intern.student.telephoneNumber}"></span></p>
                <p>Index: <span th:text="${intern.student.studentIndex}"></span></p>
                <p>Kierunek: <span th:text="${intern.student.fieldOfStudy}"></span></p>
                <p>Średnia ocen: <span th:text="${intern.student.averageGrade}"></span></p>
            </div>
            <div class="tile2">
                <h2>Dane Koordynatora:</h2>
                <p>Koordynator: <span th:text="${intern.student.coordinator.firstName} + ${intern.student.coordinator.lastName}"></span></p>
                <p>Email: <span th:text="${intern.student.coordinator.email}"></span></p>
                <p>Numer telefonu: <span th:text="${intern.student.coordinator.telephoneNumber}"></span></p>
            </div>
            <div class="company" th:if="${intern.reserve == false}">
                <div class="form_intern_control">
                    <h2>Wybierz przedsiębiorstwo, w którym chcesz odbywać staż:</h2>
                    <form th:action="@{/intern/{internId}(internId=${intern.student.userId})}" th:object="${intern}" method="post">
                        <input type="hidden" th:field="*{internId}">
                        <input type="hidden" th:field="*{student.userId}">
                        <div th:each="company1 : ${companies}">
                            <input type="radio" th:field="*{student.company.companyId}" th:value="${company1.companyId}">
                            <label th:text="${company1.companyName}" th:for="company1"></label>
                        </div>
                        <div class="button">
                            <button type="submit" class="btn btn-add">Zatwierdź</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>