<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Profil przedsiębiorstwa</title>
    <link rel="stylesheet" href="../../static/css/profileForm.css">
    <link rel="stylesheet" th:href="@{/css/profileForm.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="application-navigation">
            <div class="link">
                <a th:href="@{/coordinator/{coordinatorId}(coordinatorId=${coordinatorId})}"><p class="link-text">Moj
                    profil</p></a>
            </div>
            <div class="link">
                <a th:href="@{/coordinator/{coordinatorId}/studentsList(coordinatorId=${coordinatorId})}"><p
                        class="link-text">Studenci</p></a>
            </div>
            <div class="link">
                <a th:href="@{/coordinator/{coordinatorId}/internsList(coordinatorId=${coordinatorId})}"><p
                        class="link-text">Stażyści</p></a>
            </div>
            <div class="link indicator">
                <a th:href="@{/coordinator/{coordinatorId}/companiesList(coordinatorId=${coordinatorId})}"><p
                        class="link-text">Przedsiębiorstwa</p></a>
            </div>
        </div>
        <div class="navigation-logout">
            <a th:href="@{/logout}">
                Wyloguj
            </a>
        </div>
    </div>
        <div class="container-fluid">
            <div class="tile4">
                    <h2>Przedsiębiorstwo</h2>
                    <p>Nazwa przedsiębiorstwa: <span th:text="${company.companyName}"></span></p>
                    <p>Adres:
                        <span th:text="${company.address.city}"></span>
                        <span th:text="${company.address.street}"></span>
                        <span th:text="${company.address.buildingNumber}"></span>
                        <span th:text="${company.address.apartmentNumber}"></span>
                        <span th:text="${company.address.zipCode}"></span>
                        <span th:text="${company.address.postOffice}"></span>
                    </p>
                    <p>Rozpoczęcie praktyki: <span th:text="${company.startingDate}"></span></p>
            </div>
            <div></div>
            <div class="tile5">
                <h2>Przedstawiciel firmy:</h2>
                <p>Imię:<span th:text="${company.representative.firstName}"></span></p>
                <p>Nazwisko:<span th:text="${company.representative.lastName}"></span></p>
                <p>Email:<span th:text="${company.representative.email}"></span></p>
                <p>Numer telefonu:<span th:text="${company.representative.telephoneNumber}"></span></p>
                <p>Stanowisko:<span th:text="${company.representative.position}"></span></p>
            </div>
            <div class="guardian-list">
                <h2>Opiekunowie:</h2>
                <div class="guardian-button">
                </div>
                <table>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Numer telefonu</th>
                        <th>E-mail</th>
                        <th>Stanowisko</th>
                    </tr>
                    <tr th:each="guardian : ${company.guardianList}">
                        <td th:text="${guardian?.firstName}"></td>
                        <td th:text="${guardian?.lastName}"></td>
                        <td th:text="${guardian?.telephoneNumber}"></td>
                        <td th:text="${guardian?.email}"></td>
                        <td th:text="${guardian?.position}"></td>
                    </tr>
                </table>
            </div>
            <div class="tile3_company">
                <h2>Plan stażu</h2>
                <div class="button">
                    <a th:href="@{/coordinator/{coordinatorId}/addEntry/{companyId}(coordinatorId=${coordinatorId}, companyId=${company.companyId})}" class="btn-add">Dodaj wpis</a>
                </div>
                <table>
                    <tr>
                        <th>Opis</th>
                        <th colspan="2">Akcja</th>
                    </tr>
                    <tr th:each="entry : ${company.internshipPlan}">
                        <td  class="description" th:text="${entry.description}"></td>
                        <td><a th:href="@{/coordinator/{coordinatorId}/deleteEntry/{companyId}(coordinatorId=${coordinatorId}, companyId=${company.companyId}, entryId=${entry.internshipPlanId})}" class="btn btn-delete">Usuń</a></td>
                        <td><a th:href="@{/coordinator/{coordinatorId}/editEntry/{companyId}/{entryId}(coordinatorId=${coordinatorId}, companyId=${company.companyId}, entryId=${entry.internshipPlanId})}" class="btn btn-edit">Edytuj</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>