<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Profil koordynatora</title>
    <link rel="stylesheet" href="../../static/css/profileForm.css">
    <link rel="stylesheet" th:href="@{/css/profileForm.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="application-navigation">
            <div class="link indicator">
                <a th:href="@{/coordinator/{coordinatorId}(coordinatorId=${coordinatorId})}"><p class="link-text">Moj
                    profil</p></a>
            </div>
            <div class="link">
                <a th:href="@{/coordinator/{coordinatorId}/studentsList(coordinatorId=${coordinatorId})}"><p
                        class="link-text">Studenci</p></a>
            </div>
            <div class="link">
                <a th:href="@{/coordinator/{coordinatorId}/internsList(coordinatorId=${coordinatorId})}"><p
                        class="link-text">Stażyści</p></a>
            </div>
            <div class="link">
                <a th:href="@{/coordinator/{coordinatorId}/companiesList(coordinatorId=${coordinatorId})}"><p
                        class="link-text">Przedsiębiorstwa</p></a>
            </div>
        </div>
        <div class="navigation-logout">
            <a th:href="@{/logout}">
                Wyloguj
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div></div>
        <div class="tile2">
            <h2>Dane koordynatora</h2>
            <p>Imię: <span th:text="${coordinator.firstName}"></span></p>
            <p>Nazwisko: <span th:text="${coordinator.lastName}"></span></p>
            <p>Email: <span th:text="${coordinator.email}"></span></p>
            <p>Numer telefonu: <span th:text="${coordinator.telephoneNumber}"></span></p>
            <p>Kierunek: <span th:text="${coordinator.fieldOfStudy}"></span></p>
        </div>
    </div>
</div>
</body>
</html>