<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Edytuj wpis</title>
    <link rel="stylesheet" href="../../static/css/formDesign.css">
    <link rel="stylesheet" th:href="@{/css/formDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="application-navigation">
            <div class="link">
                <a th:href="@{/coordinator/{coordinatorId}(coordinatorId=${coordinatorId})}"><p class="link-text">Moj
                    profil</p></a>
            </div>
            <div class="link">
                <a th:href="@{/coordinator/{coordinatorId}/studentsList(coordinatorId=${coordinatorId})}"><p
                        class="link-text">Studenci</p></a>
            </div>
            <div class="link">
                <a th:href="@{/coordinator/{coordinatorId}/internsList(coordinatorId=${coordinatorId})}"><p
                        class="link-text">Stażyści</p></a>
            </div>
            <div class="link indicator">
                <a th:href="@{/coordinator/{coordinatorId}/companiesList(coordinatorId=${coordinatorId})}"><p
                        class="link-text">Przedsiębiorstwa</p></a>
            </div>
        </div>
        <div class="navigation-logout">
            <a th:href="@{/logout}">
                Wyloguj
            </a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Edytuj wpis</h1>
        </div>
        <form th:action="@{/coordinator/{coordinatorId}/editEntry/{companyId}/{entryId}(coordinatorId=${coordinatorId}, companyId=${entry.company.companyId}, entryId=${entryId})}"
              th:object="${entry}" method="post">
            <div class="single-row">
                <div class="column">
                    <div>
                        <label for="grade_number" class="form-txt">Opis: </label>
                    </div>
                    <div>
                        <textarea th:field="*{description}" name="grade_number" id="grade_number"
                                  class="form-box-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-add">Edytuj</button>
                <a class="btn btn-cancel"
                   th:href="@{/coordinator/{coordinatorId}/company/{companyId}(coordinatorId=${coordinatorId},companyId=${entry.company.companyId})}">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>