<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Profil studenta</title>
    <link rel="stylesheet" href="../../static/css/profileForm.css">
    <link rel="stylesheet" th:href="@{/css/profileForm.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/interns/list}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Dziekanaty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/companies/list}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <h1>
        Profil studenta: <span th:text="${object.userId}"></span>
    </h1>
    <div class="form">
        <div class="form-control">
            <div class="university">
                <h2>Dane studenta</h2>
                <p>Imię: <span th:text="${object.firstName}"></span></p>
                <p>Nazwisko: <span th:text="${object.lastName}"></span></p>
                <p>Adres:
                    <span th:text="${object.address.city}"></span>
                    <span th:text="${object.address.street}"></span>
                    <span th:text="${object.address.buildingNumber}"></span>
                    <span th:text="${object.address?.apartmentNumber}"></span>
                    <span th:text="${object.address.zipCode}"></span>
                    <span th:text="${object.address.postOffice}"></span>
                </p>
                <p>Email: <span th:text="${object.email}"></span></p>
                <p>Numer telefonu: <span th:text="${object.telephoneNumber}"></span></p>
                <p>Index: <span th:text="${object.studentIndex}"></span></p>
                <p>Kierunek: <span th:text="${object.fieldOfStudy}"></span></p>
                <p>Średnia ocen: <span th:text="${object.averageGrade}"></span></p>
                <h2>Dane Koordynatora:</h2>
                <p>Koordynator: <span th:text="${object?.coordinator?.firstName}"></span> <span
                        th:text="${object?.coordinator?.lastName}"></span></p>
                <p>Email: <span th:text="${object?.coordinator?.email}"></span></p>
                <p>Numer telefonu: <span th:text="${object?.coordinator?.telephoneNumber}"></span></p>
            </div>
            <div class="company">
                <h2>Przedsiębiorstwo zatrudniające</h2>
                <p>Nazwa firmy: <span th:text="${object.company.companyName}"></span></p>
                <p>Adres:
                    <span th:text="${object.company.address.city}"></span>
                    <span th:text="${object.company.address.street}"></span>
                    <span th:text="${object.company.address.buildingNumber}"></span>
                    <span th:text="${object.company.address?.apartmentNumber}"></span>
                    <span th:text="${object.company.address.zipCode}"></span>
                    <span th:text="${object.company.address.postOffice}"></span>
                </p>
                <p>Rozpoczęcie praktyki: <span th:text="${object.company.startingDate}"></span></p>
                <p>Zakończenie praktyki: <span th:text="${object.company.endingDate}"></span></p>
                <p>Przedstawiciel firmy:<span th:text="${object.company.representative.firstName}"></span><span
                        th:text="${object.company.representative.lastName}"></span></p>
                <p>Email:<span th:text="${object.company.representative.email}"></span></p>
                <p>Numer telefonu:<span th:text="${object.company.representative.telephoneNumber}"></span></p>
                <p>Stanowisko:<span th:text="${object.company.representative.position}"></span></p>
                <h2>Opiekun praktyki:</h2>
                <p>Imię: <span th:text="${object.company.guardian.firstName}"></span></p>
                <p>Nazwisko: <span th:text="${object.company.guardian.lastName}"></span></p>
                <p>Numer telefonu: <span th:text="${object.company.guardian.telephoneNumber}"></span></p>
                <p>Email: <span th:text="${object.company.guardian.email}"></span></p>
            </div>
        </div>
        <table>
            <tr>
                <th>Przedmiot</th>
                <th>Ocena</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="grade : ${object.gradeList}">
                <td th:text="${grade.subject.subjectName}"></td>
                <td th:text="${grade.grade_number}"></td>
                <td><a class="btn btn-edit" th:href="@{/grades/edit/{gradeId}(gradeId=${grade.gradeId})}">Edytuj</a>
                </td>
                <td><a class="btn btn-delete" th:href="@{/grades/delete/(gradeId=${grade.gradeId})}">Usuń</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>