<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Mój Profil</title>
    <link href="../../static/css/studentProfile.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/studentProfil.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link indicator">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/interns/list}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Dziekanaty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/companies/list}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
    </div>
    <div>
        <h1>
            Witamy w panelu użytkownika!
        </h1>
    </div>
</div>
</body>
</html>