@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}

body{
    font-family: Lato;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #2A323C;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*Navigation*/

.navigation{
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background: #3B4654;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.link{
    padding: 0;
    color: #A9A8A5;
    text-align: center;
}

.link-text {
    padding: 0;
    font-size: 26px;
}

a{
    text-decoration: none;
    color: #a9a8a5;
}

a:hover{
    color: #c1c0bc;
}

.indicator{
    border-bottom: 4px solid #dededd;
}

/*Form*/

.form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;

    background: #323C48;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

h1{
    color: #92908D;
    font-family: Lato;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    margin: 5% 0 3% 0;
}

.row{
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.row p{
    padding: 0;
    margin: 1% 0 1% 0;
}

.form-txt{
    font-family: Lato;
    font-style: normal;
    font-size: 27px;
    color: #92908D;
}

.form-box{
    background: #3B4654;
    color: #92908d;
    font-size: 27px;
    width: 50%;
    text-align: center;

    border: 2px solid #445161;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.form-box:focus{
    outline: none;
}

.form-date{
    background: #3B4654;
    color: #92908d;
    font-size: 27px;
    width: 20%;

    border: 2px solid #445161;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.form-date::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

.btn{
    border: none;
    font-size: 27px;

    color: #F4FBFC;
    background: #04A2B3;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 17px 32px;
    cursor: pointer;
    margin: 0 2% 0 2%;
}

.button{
    justify-content: center;
    text-align: center;
    margin: 5% 0 5% 0;
    width: 100%;
}

.add:focus, .add:hover{
    background: #038d9b;
}

.btn:focus, .btn:hover{
    outline: none;
}

.cancel{
    background: #7e0f0f;
}

.cancel:focus, .cancel:hover{
    background: #640a0a;
}







