@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}

html{
    height: 100%;
    box-sizing: border-box;
}

body{
    font-family: Lato, serif;
    margin: 0;
    background: #2A323C;
    color: #92908D;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Navigation*/

.navigation{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background: #3B4654;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.link{
    width: 100%;
    padding: 0;
    margin: 0 auto 0 auto;
    color: #A9A8A5;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
}

.link-text {
    padding: 0;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #A9A8A5;
}

a:hover{
    color: #c1c0bc;
}

.indicator{
    border-bottom: 4px solid #dededd;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
}

/*Table*/

h1{
    text-align: center;
    font-size: 33px;
    padding: 0;
    margin-bottom: 1%;
}

table{
    width: 100%;
}

.table{
    margin: 1% 1% 2% 1%;
}

tr {
    text-align: center;
    font-size: 17px;
}

th{
    font-size: 20px;
    padding-bottom: 1%;
    border-bottom: 4px solid #445161;
}

td{
    width: 5%;
    word-break: break-all;
    border-bottom: 1px solid #445161;
    padding: 1% 0 1% 0;
}

.description-column{
    width: 60%;
}

.hours-column{
    width: 1%;
}

.day-column{
    width: 5%;
}

.start-end-column{
    width: 5%;
}

.operations{
    width: 100%;
    text-align: center;
    margin: 1% 0 1% 0;
}

.operations .btn-delete, .operations .btn-add, .operations .btn-generate{
    padding: 13px 27px;
    font-size: 20px;
    margin: 0 1% 0 1%;
}

.btn{
    border: none;
    font-size: 16px;
    border-radius: 15px;
    padding: 12px 20px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-profile{
    color: #F4FBFC;
    background: #6b0ba0;
}

.btn-profile:focus, .btn-profile:hover{
    background: #630b94;
    outline: none;
}

.btn-generate{
    color: #F4FBFC;
    background: #164f9b;
}

.btn-generate:focus, .btn-generate:hover{
    background: #16478f;
    outline: none;
}

.btn-edit{
    color: #F4FBFC;
    background: #04A2B3;
}

.btn-edit:focus, .btn-edit:hover{
    background: #038d9b;
    outline: none;
}

.btn-delete{
    background: #7e0f0f;
    color: #F4FBFC;
}

.btn-delete:focus, .btn-delete:hover{
    background: #640a0a;
    outline: none;
}

.btn-add {
    width: auto;
    border: none;
    font-size: 20px;
    padding: 13px 27px;
    margin-right: auto;
    margin-left: auto;

    background: #2d7e0f;
    color: #F4FBFC;
}

.btn-add:focus, .btn-add:hover{
    cursor: pointer;
    outline: none;
    background: #21600d;
    color: #F4FBFC;
}
