/* LoginPage */
@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}
body{
    background: #2A323C;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Lato, serif;
    color: #f3f3f3;
}

.fluid_container{
    margin-top: 8%;
    background: #323C48;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    width: 19%;
}

.login_text_header{
    text-align: center;
}

.login_error{
    text-align: center;
    padding: 1%;
    font-size: 15px;
    background: rgba(165, 52, 52, 0.55);
}

.logout{
    text-align: center;
    padding: 1%;
    font-size: 15px;
    background: rgba(77, 141, 43, 0.55);
}

.login_form{
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    text-align: center;
}

.login_text{
    font-size: 19px;
}

.login_box{
    background: #3B4654;
    color: #f3f3f3;
    text-align: center;
    width: 75%;
    margin: 3% auto;
    font-size: 16px;
    padding: 1%;

    border: 2px solid #445161;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
}

.login_button{
    font-size: 16px;
    margin: 14% auto 0 auto;
    padding: 3% 10%;
    cursor: pointer;

    color: #f3f3f3;
    background: #0e50bc;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-color: #0e50bc;
}

.login_button:hover, .login_button:focus{
    background: #09409b;
}
