@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}

body{
    font-family: Lato;
    margin: 0;
    padding: 0;
    background: #2A323C;
    color: #92908D;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*Navigation*/

.navigation{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background: #3B4654;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.link{
    padding: 0;
    margin: 0 auto 0 auto;
    color: #A9A8A5;
    text-align: center;
}

.link-text {
    padding: 0;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #A9A8A5;
}

a:hover{
    color: #c1c0bc;
}

.indicator{
    border-bottom: 4px solid #dededd;
}

/*Content*/

h1{
    text-align: center;
    font-size: 33px;
    padding: 0;
    margin-bottom: 1%;
}

h2{
    text-align: center;
}

/*Coordinator*/

.form-coordinator{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 1% auto 3% auto;

    background: #323C48;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 33px;
    padding: 0;
    margin-bottom: 1%;
}

table{
    margin: 2% 3%;
}


tr {
    text-align: center;
    font-size: 12px;
}

th{
    font-size: 16px;
    padding-bottom: 1%;
    border-bottom: 4px solid #445161;
}

td{
    width: 5%;
    word-break: break-all;
    border-bottom: 1px solid #445161;
    padding: 1% 0 1% 0;
}

/*Profile*/

.form{
    width: 80%;
    margin: 1% auto 3% auto;

    background: #323C48;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-size: 20px;
}

.form-control{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 5% 0 5%;
}

.university{
    margin: 5%;
}

.company{
    margin: 5%;
}

.grades{
    width: 100%;
}

.university span, .company span{
    font-size: 22px;
    color: #969692;
    margin-left: 3%;
}


/*Form*/

.single-row{
    width: 100%;
    text-align: center;
    margin: 1% 0 1% 0;
}

.single-row .column{
    margin: 0 auto 0 auto;
    width: 50%;
    text-align: center;
}

.row{
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.row p{
    padding: 0;
    margin: 1% 0 1% 0;
}

.form-box{
    background: #3B4654;
    color: #92908d;
    font-size: 18px;
    width: 80%;
    text-align: center;

    border: 2px solid #445161;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.form-box:focus{
    outline: none;
}

.btn{
    border: none;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px 27px;
    cursor: pointer;
    margin: 0 2% 0 2%;
}

.button{
    justify-content: center;
    text-align: center;
    margin: 5% 0 5% 0;
    width: 100%;
}

.btn-add{
    color: #F4FBFC;
    background: #04A2B3;
}

.btn-add:focus, .btn-add:hover{
    background: #038d9b;
    outline: none;
    color: #F4FBFC;
}

.btn-cancel{
    background: #7e0f0f;
    color: #F4FBFC;
}

.btn-cancel:focus, .btn-cancel:hover{
    background: #640a0a;
    outline: none;
    color: #F4FBFC;
}

table .btn{
    border: none;
    font-size: 14px;
    border-radius: 15px;
    padding: 12px 20px;
    cursor: pointer;
}

.btn-edit{
    color: #F4FBFC;
    background: #04A2B3;
}

.btn-edit:focus, .btn-edit:hover{
    background: #038d9b;
    outline: none;
}

.btn-delete{
    background: #7e0f0f;
    color: #F4FBFC;
}

.btn-delete:focus, .btn-delete:hover{
    background: #640a0a;
    outline: none;
}

.grade-list{
    margin: 0% 20% 3% 20%;
}