@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}

body{
    font-family: Lato, serif;
    margin: 0;
    padding: 0;
    background: #2A323C;
    color: #92908D;
}

.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*region Navigation*/
.navigation{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background: #434c5a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.link{
    width: 100%;
    padding: 0;
    margin: 0 auto 0 auto;
    color: #A9A8A5;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;

}

.link-text {
    padding: 0;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #A9A8A5;
}

a:hover{
    color: #c1c0bc;
}

.indicator{
    border-bottom: 4px solid #dededd;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
}
/*endregion*/


/*region Profile tiles*/
.container_fluid{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    align-items: center;
    margin: 0 4%;
    color: #92908d;
    font-size: 18px;
    word-wrap: break-word;
    word-break: break-word;
}

h2{
    color: rgb(188, 105, 16);
    text-align: center;
    margin: 3%;
}

.tile1{
    margin: 5% 10% 0 10%;
    padding: 2% 10%;

    background: #3B4654;
    border: 2px solid #445161;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.tile2{
    margin: 5% 10% 0 10%;
    padding: 2% 10%;

    background: #3B4654;
    border: 2px solid #445161;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.tile3{
    grid-column: span 3;
    margin: 5% auto;
    width: 30%;
    background: #3B4654;
    border: 2px solid #445161;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/*region Grades List*/
.tile3 table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto 10% auto;
}

.tile3 .grade_col1{
    width: 80%;
}

.tile3 td, .tile3 th{
    text-align: center;
    padding: 2% 0;
    border-bottom: solid 1px #000000;
}
/*endregion*/

.tile4{
    background: #3B4654;
    margin: 5% 10% 0 10%;
    padding: 2% 10%;

    border: 2px solid #445161;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.tile5{
    background: #3B4654;
    margin: 5% 10% 0 10%;
    padding: 2% 10%;

    border: 2px solid #445161;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.tile6{
    background: #3B4654;
    margin: 5% 10% 0 10%;
    padding: 2% 10%;

    border: 2px solid #445161;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
/*endregion*/

.btn{
    border: none;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px 27px;
    cursor: pointer;
    margin: 0 2% 0 2%;
}

.button{
    justify-content: center;
    text-align: center;
    margin: 5% 0 5% 0;
    width: 100%;
}

.btn-add{
    color: #F4FBFC;
    background: #04A2B3;
}

.btn-add:focus, .btn-add:hover{
    background: #038d9b;
    outline: none;
    color: #F4FBFC;
}

.btn-cancel{
    background: #7e0f0f;
    color: #F4FBFC;
}

.btn-cancel:focus, .btn-cancel:hover{
    background: #640a0a;
    outline: none;
    color: #F4FBFC;
}

.btn-edit{
    color: #F4FBFC;
    background: #04A2B3;
}

.btn-edit:focus, .btn-edit:hover{
    background: #038d9b;
    outline: none;
}

.btn-delete{
    background: #7e0f0f;
    color: #F4FBFC;
}

.btn-delete:focus, .btn-delete:hover{
    background: #640a0a;
    outline: none;
}

.grade-list{
    margin: 0% 20% 3% 20%;
}