@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}

body{
    font-family: Lato;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #2A323C;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 13% 80%;
    overflow: hidden;
}

.aside{
    height: 100%;
    width: 100%;
    padding-top: 20px;

    background: #3B4654;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    padding: 0;
    margin: 4% 30% 5% 27%;
    width: auto;
    height: auto;
}

nav{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 5%;
    padding: 0;
}

.list-element{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 15% 0 5% 0;

    align-items: center;
    display: flex;
}

.list-txt{
    padding: 0;
    margin: 0 0 0 3%;

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;

    color: #A9A8A5;
}

.list-icon{
    padding: 0;

    font-size: 40px;
    color: #A9A8A5;
}


.content{
    width: 100%;
    height: 100%;
    border: none;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: #a9a8a5;

}

ul{
    margin-top: 0;
    margin-bottom: 5%;
}

li{
    list-style-type: none;
    padding: 0;
    margin: 2% 0 2% 0;
}

a:hover{
    color: #c1c0bc;
}
