@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}

body{
    font-family: Lato;
    margin: 0;
    padding: 0;
    background: #2A323C;
    color: #A9A8A5;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*Navigation*/

.navigation{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;

    background: #3B4654;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.link{
    padding: 0;
    margin: 0 3% 0 3.2%;
    color: #A9A8A5;
    display: flex;
    text-align: center;
}

.link-text {
    padding: 0;
    font-size: 26px;
}

a{
    text-decoration: none;
    color: #a9a8a5;
}

a:hover{
    color: #c1c0bc;
}

h1{
    color: #a9a8a5;
    margin: 3% 0 3% 0;
    text-align: center;
    font-size: 70px;
}


.form{
    width: 70%;
    margin: 0 auto 3% auto;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;

    background: #323C48;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-size: 24px;

}

.university{
    margin: 5%;
}

.company{
    margin: 5%;
}

span{
    font-size: 22px;
    color: #969692;
    margin-left: 3%;
}

.single-row{
    width: 100%;
    text-align: center;
    margin: 1% 0 1% 0;
}

.single-row .column{
    margin: 0 auto 0 auto;
    width: 50%;
    text-align: center;
}

h1{
    font-style: normal;
    font-size: 60px;
    text-align: center;
    margin: 5% 0 2% 0;
}

h2{
    text-align: center;
    font-size: 40px;
}

.row{
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.row p{
    padding: 0;
    margin: 1% 0 1% 0;
}

.form-txt{
    font-style: normal;
    font-size: 27px;
}

.form-box{
    background: #3B4654;
    color: #92908d;
    font-size: 27px;
    width: 50%;
    text-align: center;

    border: 2px solid #445161;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.form-box:focus{
    outline: none;
}

.btn{
    border: none;
    font-size: 27px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 17px 32px;
    cursor: pointer;
    margin: 0 2% 0 2%;
}

.button{
    justify-content: center;
    text-align: center;
    margin: 5% 0 5% 0;
    width: 100%;
}

.btn-add{
    color: #F4FBFC;
    background: #04A2B3;
}

.btn-add:focus, .btn-add:hover{
    background: #038d9b;
    outline: none;
    color: #F4FBFC;
}

.btn-cancel{
    background: #7e0f0f;
    color: #F4FBFC;
}

.btn-cancel:focus, .btn-cancel:hover{
    background: #640a0a;
    outline: none;
    color: #F4FBFC;
}

