<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dodaj reprezentanta</title>
    <link rel="stylesheet" href="../static/css/addRepresentativeForm.css">
    <link rel="stylesheet" th:href="@{/css/addRepresentativeForm.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/companies/list}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/representatives/list}"><p class="link-text">Przedstawiciele przedsiębiorstw</p></a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Dodaj reprezentanta</h1>
        </div>
        <form action="#" th:action="@{/representatives/addRepresentative}" th:object="${addRepresentativeForm}" method="post">
            <div class="row">
                <div class="column">
                    <div>
                        <label for="company-name" class="form-txt">Nazwa przedsiębiorstwa: </label>
                    </div>
                    <div>
                        <input th:field="*{companyName}" type="text" name="company-name" id="company-name" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="first-name" class="form-txt">Imię: </label>
                    </div>
                    <div>
                        <input th:field="*{firstName}" type="text" name="first-name" id="first-name" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="last-name" class="form-txt">Nazwisko: </label>
                    </div>
                    <div>
                        <input th:field="*{lastName}" type="text" name="last-name" id="last-name" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="email" class="form-txt">Email: </label>
                    </div>
                    <div>
                        <input th:field="*{email}" type="text" name="email" id="email" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="telephone-number" class="form-txt">Numer telefonu: </label>
                    </div>
                    <div>
                        <input th:field="*{telephoneNumber}" type="text" name="telephone-number" id="telephone-number" class="form-box">
                    </div>
                </div>
            </div>
                <div class="button">
                    <button type="submit" class="btn btn-add">Dodaj</button>
                    <a class="btn btn-cancel" th:href="@{/representatives/list}">Anuluj</a>
                </div>
        </form>
    </div>
</div>
</body>
</html>