<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Lista Koordynatorów</title>
    <link rel="stylesheet" href="../static/css/listDesign.css">
    <link rel="stylesheet" th:href="@{/css/listDesign.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/addresses/list}"><p class="link-text">Adresy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/interns/list}"><p class="link-text">Stażyści</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Przedmioty</p></a>
        </div>
        <div class="link">
            <a th:href="@{/subjects/list}"><p class="link-text">Dziekanaty</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/companies/list}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
        <div class="link">
            <a th:href="@{/representatives/list}"><p class="link-text">Przedstawiciele przedsiębiorstw</p></a>
        </div>
    </div>
    <h1>
        Lista koordynatorów
    </h1>
    <a th:href="@{/coordinators/addCoordinator}" class="btn btn-add">Dodaj</a>
    <div class="table">
        <table>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Numer Telefonu</th>
                <th>Kierunek</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="coordinator : ${coordinators}">
                <td th:text="${coordinator.firstName}"></td>
                <td th:text="${coordinator.lastName}"></td>
                <td th:text="${coordinator.email}"></td>
                <td th:text="${coordinator.telephoneNumber}"></td>
                <td th:text="${coordinator.fieldOfStudy}"></td>
                <td><a th:href="@{/coordinators/edit/{userId}(userId=${coordinator.userId})}" class="btn btn-edit">Edytuj</a></td>
                <td><a th:href="@{/coordinators/delete/(userId=${coordinator.userId})}" class="btn btn-delete">Usuń</a></td>
            </tr>
        </table>
    </div>
    <footer class="scrollable">
        <p>Strona stworzona na potrzeby pracy licencjackiej</p>
    </footer>
</div>
</body>
</html>