<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Lista Koordynatorów</title>
    <link rel="stylesheet" th:href="@{/css/coordinatorsList.css}">
    <link rel="stylesheet" href="../static/css/coordinatorsList.css">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a href="studentAgreementForm.html"><p class="link-text">Umowa o organizacje praktyk</p></a>
        </div>
        <div class="link">
            <a href="studentDeclarationForm.html"><p class="link-text">Deklaracja planowanej
                praktyki</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Dziennik_praktyk_2020.pdf"><p class="link-text">Dziennik praktyk</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Ramowy_Program_Praktyk_zawodowych_informatyka_2021.pdf"><p class="link-text">Ramowy
                program praktyk</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Ankieta-pracy-zawaodowej.pdf"><p class="link-text">Regulamin praktyk</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Ankieta-pracy-zawaodowej.pdf"><p class="link-text">Ankieta</p></a>
        </div>
    </div>
    <h1>
        Lista studentów
    </h1>
    <div class="table">
        <table>
            <tr>
                <th>User id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Numer Telefonu</th>
                <th>Kierunek</th>
                <th>Coordinator ID</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="coordinator : ${coordinators}">
                <td th:text="${coordinator.userId}"></td>
                <td th:text="${coordinator.firstName}"></td>
                <td th:text="${coordinator.lastName}"></td>
                <td th:text="${coordinator.email}"></td>
                <td th:text="${coordinator.telephoneNumber}"></td>
                <td th:text="${coordinator.fieldOfStudy}"></td>
                <td th:text="${coordinator.coordinatorId}"></td>
                <td><button type="submit" class="btn edit">Edytuj</button></td>
                <td><button type="button" class="btn delete">Usuń</button></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>