<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/Deklaracja_planowanej_praktyki_zawodowej.css">
    <link rel="stylesheet" th:href="@{/css/Deklaracja_planowanej_praktyki_zawodowej.css}">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="header-logo">
            <img th:src="@{images/logo_instytutu.png}" src="../static/images/logo_instytutu.png">
        </div>
        <div class="header-text">
            <p class="pt-16">Uniwersytet w Białymstoku</p>
            <p class="pt-12">Instytut Informatyki</p>
            <table class="line">
                <tr>
                    <th></th>
                </tr>
            </table>
            <p class="headear-italic">
                ul. Konstantego Ciołkowskiego 1M, 15-245 Białystok tel. 85 738 83 33
            </p>
            <p class="headear-italic">
                <a href="mailto: instytut-informatyki@uwb.edu.pl ">instytut-informatyki@uwb.edu.pl </a>
            </p>
        </div>
    </div>
    <p class="align-left">Białystok, dnia ..........................................</p>
    <h1>DEKLARACJA PLANOWANEJ PRAKTYKI ZAWODOWEJ</h1>
    <h1>w roku akademickim 20../ 20..</h1>
    <h1>organizowanej przez Instytut Informatyki Uniwersytetu w Białymstoku</h1>
    <table class="information-table">
        <tr>
            <td><p>Imiona i nazwisko studenta</p></td>
            <td class="information-table-content"></td>
        </tr>
        <tr>
            <td><p>Nr albumu</p></td>
            <td class="information-table-content"></td>
        </tr>
        <tr>
            <td><p>Kierunek i rok studiów</p></td>
            <td class="information-table-content"></td>
        </tr>
        <tr>
            <td><p>Tryb studiów</p></td>
            <td class="information-table-content"></td>
        </tr>
        <tr>
            <td><p>Termin odbywania praktyk</p></td>
            <td class="information-table-content"></td>
        </tr>
        <tr>
            <td><p>Nazwa organizatora praktyki</p></td>
            <td class="information-table-content"><p class="starting-date">od: </p>
                <p class="ending-date">do: </p></td>
        </tr>
        <tr>
            <td><p>Adres organizatora praktyki</p></td>
            <td class="information-table-content"></td>
        </tr>
    </table>
    <p>Ja niżej podpisany(-na) oświadczam, że:</p>
    <ul>
        <li>uzyskałem(-am) wstępną zgodę organizatora praktyki przyjęcia na praktykę</li>
        <li>podczas odbywania praktyki posiadam/nie posiadam1 ubezpieczenie od NNW,</li>
        <li>zapoznałem się z treścią umowy zawartej z organizatorem praktyki i zobowiązuję się do przestrzegania jej
            postanowień.
        </li>
    </ul>
    <p>Zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r.
        w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
        swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE przyjmuję do wiadomości, że:</p>
    <ol>
        <li>udostępniane są moje dane osobowe (imię, nazwisko, nr albumu, kierunek studiów) organizatorowi
            praktyki zawodowej,
        </li>
        <li>udostępniane są moje dane osobowe (imię, nazwisko, numer pesel, kierunek studiów, forma studiów,
            okres odbywania praktyki) podmiotowi ubezpieczającemu mnie w trakcie odbywania praktyki zawodowej
            oraz innym podmiotom uczestniczącym w procesie ubezpieczenia studentów na podstawie zawartych umów
            z Uniwersytetem w Białymstoku.
        </li>
    </ol>
    <p>Przyjmuję do wiadomości, że jest to niezbędne do realizacji obowiązkowych praktyk zawodowych jako
        części procesu dydaktycznego wynikającego z programu studiów w Uniwersytecie w Białymstoku.
    </p>
    <div class="signature">
        <p>.............................................</p>
        <p>podpis studenta</p>
    </div>
</div>

</body>
</html>