<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Edytuj reprezentanta</title>
    <link rel="stylesheet" href="../static/css/editRepresentativeForm.css">
    <link rel="stylesheet" th:href="@{/css/editRepresentativeForm.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link ">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/companies/list}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/representatives/list}"><p class="link-text">Przedstawiciele przedsiębiorstw</p></a>
        </div>
    </div>
    <div class="form">
        <div>
            <h1>Edytuj reprezentanta</h1>
        </div>
        <form action="#" th:action="@{/representatives/edit/${representativeId}}" th:object="${editRepresentativeForm}" method="post">
            <div>
                <p th:text="'Id: ' + ${representativeId}" class="id"></p>
            </div>
            <input th:field="*{representativeId}" type="hidden">
            <div class="row">
                <div class="column">
                    <div>
                        <label for="first-name" class="form-txt">Imię: </label>
                    </div>
                    <div>
                        <input th:field="*{firstName}" type="text" name="first-name" id="first-name" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="last-name" class="form-txt">Nazwisko: </label>
                    </div>
                    <div>
                        <input th:field="*{lastName}" type="text" name="address" id="last-name" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="telephone-nr" class="form-txt">Numer telefonu: </label>
                    </div>
                    <div>
                        <input th:field="*{telephoneNumber}" type="text" name="telephone-nr" id="telephone-nr" class="form-box">
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="email" class="form-txt">Email: </label>
                    </div>
                    <div>
                        <input th:field="*{email}" type="text" name="email" id="email" class="form-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <label for="password" class="form-txt">Hasło: </label>
                    </div>
                    <div>
                        <input th:field="*{companyName}" type="text" name="address" id="password" class="form-box">
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-add">Edytuj</button>
                <a class="btn btn-cancel" th:href="@{/representatives/list}">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>