<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/login.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="login-box">
        <div class="login-txt">Sign in</div>
        <form>
            <label class="email-txt" for="email">Email</label>
            <input class="email-box" id="email" name="email" type="text">
            <label class="password-txt" for="password">Hasło</label>
            <input class="password-box" id="password" name="password" type="text">
            <input class="remember-me-box" id="remember-me" type="checkbox">
            <label class="remember-me-txt" for="remember-me">Zapamiętaj mnie</label>
            <button class="login-button" type="submit">Zaloguj</button>
        </form>
        <a class="forgot-password" href="#">Zapomniałeś hasła?</a>
    </div>
</div>
</body>
</html>