<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/login.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <div class="fluid_container">
        <h1 class="login_text_header">Zaloguj się</h1>
        <div th:if="${param.error}" class="login_error">
            Nieporawny email lub hasło!
        </div>
        <div th:if="${param.logout}" class="logout">
            Wylogowano pomyślnie!
        </div>
        <form th:action="@{/login}" method="post"  class="login_form">
            <label class="login_text" for="email">Email</label>
            <input class="login_box" id="email" name="email" type="text">
            <label class="login_text" for="password">Hasło</label>
            <input class="login_box" id="password" name="password" type="password">
            <button type="submit" value="Login" class="login_button">Zaloguj</button>
        </form>
    </div>
</div>
</body>
</html>