<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Lista przedstawicieli</title>
    <link rel="stylesheet" th:href="@{/css/representativesList.css}">
    <link rel="stylesheet" href="../static/css/representativesList.css">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a th:href="@{/companies/list}"><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/representatives/list}"><p class="link-text">Przedstawiciele przedsiębiorstw</p></a>
        </div>
    </div>
    <h1>
        Lista przedstawicieli
    </h1>
    <a th:href="@{/representatives/addRepresentative}" class="btn-add">Dodaj</a>
    <div class="table">
        <table>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Numer telefonu</th>
                <th>Przedsiębiorstwo</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="representative : ${representatives}">
                <td th:text="${representative.representativeId}"></td>
                <td th:text="${representative.firstName}"></td>
                <td th:text="${representative.lastName}"></td>
                <td th:text="${representative.email}"></td>
                <td th:text="${representative.telephoneNumber}"></td>
                <td th:text="${representative.companyName}"></td>
                <td><a th:href="@{/representatives/edit/{representativeId}(representativeId=${representative.representativeId})}" class="btn btn-edit">Edytuj</a></td>
                <td><a th:href="@{/representatives/delete/(representativeId=${representative.representativeId})}" class="btn btn-delete">Usuń</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>