<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Lista studentów</title>
    <link rel="stylesheet" href="../static/css/studentsList.css">
    <link rel="stylesheet" th:href="@{/css/studentsList.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link">
            <a href="studentAgreementForm.html"><p class="link-text">Umowa o organizacje praktyk</p></a>
        </div>
        <div class="link">
            <a href="studentDeclarationForm.html"><p class="link-text">Deklaracja planowanej
                praktyki</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Dziennik_praktyk_2020.pdf"><p class="link-text">Dziennik praktyk</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Ramowy_Program_Praktyk_zawodowych_informatyka_2021.pdf"><p class="link-text">Ramowy
                program praktyk</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Ankieta-pracy-zawaodowej.pdf"><p class="link-text">Regulamin praktyk</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Ankieta-pracy-zawaodowej.pdf"><p class="link-text">Ankieta</p></a>
        </div>
    </div>
    <h1>
        Lista studentów
    </h1>
    <div class="table">
        <table>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Numer Telefonu</th>
                <th>Numer albumu</th>
                <th>Kierunek</th>
                <th>Stopień</th>
                <th>Średnia ocen</th>
                <th colspan="2">Koordynator</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.telephoneNumber}"></td>
                <td th:text="${student.studentIndex}"></td>
                <td th:text="${student.fieldOfStudy}"></td>
                <td th:text="${student.degree}"></td>
                <td th:text="${student.averageGrade}"></td>
                <td th:text="${student.coordinator.firstName}"></td>
                <td th:text="${student.coordinator.lastName}"></td>
                <td><a class="btn edit" th:href="@{/students/edit/{userId}(userId=${student.userId})}">Edytuj</a></td>
                <td><a class="btn delete" th:href="@{/students/delete/(userId=${student.userId})}">Usuń</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>