<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Deklaracja planowanej praktyki zawodowej</title>
    <link rel="stylesheet" href="../static/css/studentDeclarationForm.css">
    <link rel="stylesheet" th:href="@{/css/studentDeclarationForm.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link ">
            <a href="studentAgreementForm.html"><p class="link-text">Umowa o organizacje praktyk</p></a>
        </div>
        <div class="link indicator">
            <a href="../static/pdfs/Ankieta-pracy-zawaodowej.pdf"><p class="link-text">Deklaracja planowanej
                praktyki</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Dziennik_praktyk_2020.pdf"><p class="link-text">Dziennik praktyk</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Ramowy_Program_Praktyk_zawodowych_informatyka_2021.pdf"><p class="link-text">Ramowy
                program praktyk</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Ankieta-pracy-zawaodowej.pdf"><p class="link-text">Regulamin praktyk</p></a>
        </div>
        <div class="link">
            <a href="../static/pdfs/Ankieta-pracy-zawaodowej.pdf"><p class="link-text">Ankieta</p></a>
        </div>
    </div>
    <div class="declaration-form">
        <div>
            <h1>Umowa o organizacje praktyki studenckiej</h1>
        </div>
        <form action="#" th:action="@{/organization}" th:object="${studentAgreementForm}" method="post">
            <div class="row">
                <div>
                    <label for="companyName" class="form-txt">Imię studenta: </label>
                </div>
                <div>
                    <input th:text="*{companyName}" type="text" name="companyName" id="companyName" class="form-box">
                </div>
            </div>
            <div class="row">
                <div>
                    <label for="adres" class="form-txt">Nazwisko studenta: </label>
                </div>
                <div>
                    <input th:text="*{addres}" type="text" name="adres" id="adres" class="form-box">
                </div>
            </div>
            <div class="row">
                <div>
                    <label for="registered-in" class="form-txt">Kierunek studiów: </label>
                </div>
                <div>
                    <input th:text="*{position}" type="text" name="registered-in" id="registered-in" class="form-box">
                </div>
            </div>
            <div class="row">
                <div>
                    <label for="nr" class="form-txt">Tryb studiów: </label>
                </div>
                <div>
                    <input type="text" name="nr" id="nr" class="form-box">
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="form-txt">Nazwa organizatora praktyki: </label>
                </div>
                <div>
                    <input th:text="*{employerFirstName}" type="text" class="form-box">
                </div>
            </div>
            <div class="row">
                <div>
                    <label class="form-txt">Adres organizatora praktyki: </label>
                </div>
                <div>
                    <input th:text="*{employerLastName}" type="text" class="form-box">
                </div>
            </div>
            <div class="row">
                <p class="form-txt">Termin odbywania praktyk: </p>
            </div>
            <div class="row">
                <label class="form-txt">Od:</label>
                <input th:text="*{startingDate}" type="date" class="form-date">
                <label class="form-txt">Do:</label>
                <input th:text="*{endingDate}" type="date" class="form-date">
            </div>
            <div class="button">
                <button type="submit" class="btn">Generuj</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>