<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mój Profil</title>
    <link href="../static/css/studentProfil.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
<div class="container">
    <div class="aside">
        <img src="../static/images/logo.png" class="logo">
        <nav>
            <div class="list-element">
                <i class="fas fa-file-alt list-icon"></i>
                <p class="list-txt">Generuj dokumenty</p>
            </div>
            <div class="list-element">
                <i class="fas fa-file-code list-icon"></i>
                <p class="list-txt">Dziennik praktyk</p>
            </div>
            <div class="list-element">
                <i class="fas fa-file list-icon"></i>
                <p class="list-txt">Ramowy program praktyk</p>
            </div>
        </nav>
    </div>
</div>
</body>
</html>