<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Lista studentów</title>
    <link rel="stylesheet" href="../static/css/studentsList.css">
    <link rel="stylesheet" th:href="@{/css/studentsList.css}">
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="link ">
            <a th:href="@{/users/list}"><p class="link-text">Użytkownicy</p></a>
        </div>
        <div class="link indicator">
            <a th:href="@{/students/list}"><p class="link-text">Studenci</p></a>
        </div>
        <div class="link">
            <a th:href="@{/coordinators/list}"><p class="link-text">Koordynatorzy</p></a>
        </div>
        <div class="link">
            <a><p class="link-text">Przedsiębiorstwa</p></a>
        </div>
        <div class="link">
            <a><p class="link-text">Przedstawiciele przedsiębiorstw</p></a>
        </div>
    </div>
    <h1>
        Lista studentów
    </h1>
    <a th:href="@{/students/addStudent}" class="btn-add">Dodaj</a>
    <div class="table">
        <table>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Numer Telefonu</th>
                <th>Numer albumu</th>
                <th>Kierunek</th>
                <th>Stopień</th>
                <th>Średnia ocen</th>
                <th colspan="2">Koordynator</th>
                <th colspan="2">Akcja</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.telephoneNumber}"></td>
                <td th:text="${student.studentIndex}"></td>
                <td th:text="${student.fieldOfStudy}"></td>
                <td th:text="${student.degree}"></td>
                <td th:text="${student.averageGrade}"></td>
                <td th:text="${student?.coordinator?.firstName}"></td>
                <td th:text="${student?.coordinator?.lastName}"></td>
                <td><a class="btn btn-edit" th:href="@{/students/edit/{userId}(userId=${student.userId})}">Edytuj</a></td>
                <td><a class="btn btn-delete" th:href="@{/students/delete/(userId=${student.userId})}">Usuń</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>