<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div>
        <div class="col-md-12">
            <div style="margin-top: 20px">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>_id</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="student : ${students}">
                        <td th:text="${student.firstName}"></td>
                        <td th:text="${student.lastName}"></td>
                        <td th:text="${student.email}"></td>
                        <td th:text="${student.telephoneNumber}"></td>
                        <td th:text="${student.studentIndex}"></td>
                        <td th:text="${student.fieldOfStudy}"></td>
                        <td th:text="${student.degree}"></td>
                        <td th:text="${student.averageGrade}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>