<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Umowa_Praktyka_2020</title>
    <link rel="stylesheet" th:href="@{/css/Umowa_Praktyka_2020.css}">
    <!--    <link rel="stylesheet" href="../static/css/Umowa_Praktyka_2020.css">-->
</head>
<body>
<div class="container">
    <h3 class="header">UMOWA O PRAKTYKĘ </h3>
    <p class="titleName">Zawarta w dniu ……………………….. pomiędzy Instytutem Informatyki Uniwersytetu w
        Białymstoku zwanym dalej „Uczelnią” reprezentowanym przez
    </p>
    <p class="titleName">Dyrektora prof. zw. dra hab. Eugeniusza Zieniuka, a</p>
    <p class="company">.......................................................................................................................................................</p>
    <p class="italic-font">(nazwa przedsiębiorstwa)</p>
    <div class="employer-data-section">
        <p>Adres: </p>
        <p>Zarejestrowanym w: </p>
        <p>pod nr: </p>
    </div>
    <div class="employer-data-section">
        <p>zwanym dalej „Zakładem pracy” reprezentowanym przez: </p>
        <p>Imię i nazwisko: </p>
        <p>Stanowisko: </p>
    </div>
    <div class="section">
        <p class="paragraph">§1</p>
        <p>Uczelnia, działając na podstawie Regulaminu Praktyk kieruje</p>
        <p>studenta......................................................................................................................................... ....................................................................................................................................................... .......................................................................................................................................................</p>
        <p>Do Zakładu pracy w celu odbycia praktyki </p>
        <p class="bold">w terminie od ……………...….. do…………………… </p>
    </div>
    <div class="section">
        <p class="paragraph">§2</p>
        <p>Praca studenta wykonywana w ramach praktyk jest bezpłatna. </p>
    </div>
    <div>
        <p class="paragraph">§3</p>
        <p>Obowiązki Zakładu pracy:</p>
        <ol>
            <li>Zakład pracy zobowiązany jest do zapewnienia warunków niezbędnych do przeprowadzenia praktyki, a w szczególności: </li>
            <ol class="listing-form">
                <li>zapewnienia odpowiednich warunków pracy, </li>
                <li>zapoznania studentów z zakładowym regulaminem pracy, przepisami o bezpieczeństwie i higienie pracy oraz o ochronie tajemnicy służbowej, </li>
                <li>nadzoru nad wykonaniem przez studentów zadań wynikających z programu praktyki, </li>
                <li>zapewnienia studentom warunków odbywania praktyki zgodnych z obowiązującymi przepisami BHP.</li>
            </ol>
            <li>Zakład pracy może zażądać od uczelni odwołania z praktyki studenta odbywającego praktykę, w wypadku, gdy naruszy on w sposób rażący dyscyplinę pracy.</li>
            <li>Zakład pracy sporządza opinię i wystawia ocenę pracy praktykanta w Dzienniku Praktyk.</li>
        </ol>
    </div>
    <div>
        <p class="paragraph">§4</p>
        <p>Obowiązki Uczelni: </p>
        <ol>
            <li>Sprawowanie nadzoru dydaktyczno – wychowawczego oraz organizacyjnego nad przebiegiem praktyk.</li>
            <li>Ubezpieczenie uczestników praktyk od następstw nieszczęśliwych wypadków, jeśli ze studentem nie będzie zawierana umowa o pracę.</li>
        </ol>
    </div>
    <div>
        <p class="paragraph">§5</p>
        <p>Umowa niniejsza została sporządzona w dwóch jednobrzmiących egzemplarzach po jednym dla każdej ze stron</p>
        <div class="signatures">
            <div class="signature signature-dyr">
                <p class="italic-font">Pieczęć i podpis Dyrektora </p>
            </div>
            <div class="signature signature-job-dyr">
                <p class="italic-font">Pieczęć i podpis Dyrektora Zakładu Pracy</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>