<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zal_nr_1_formularz_rekrutacyjny</title>
    <link rel="stylesheet" th:href="@{/css/Zal_nr_1_formularz_rekrutacyjny.css}"/>
<!--    <link rel="stylesheet" href="../static/css/Zal_nr_1_formularz_rekrutacyjny.css">-->
</head>
<body>
<div class="container">
    <div class="headerIMG">
        <img th:src="@{/images/UniaFundusze.png}" src="../static/images/UniaFundusze.png">
    </div>
    <h3 class="title">
        FORMULARZ REKRUTACYJNY
    </h3>
    <h3 class="title">
        Program stażowy dla studentów II roku studiów I stopnia w ramach projektu
    </h3>
    <h3 class="title">
        „Nowoczesny Uniwersytet szansą na rozwój przyszłych kadr regionu”
    </h3>
    <h3 class="title">
        nr POWR.03.05.00-00-Z218/18
    </h3>
    <h3 class="title2">
        Dane osobowe Kandydata/Kandydatki:
    </h3>
    <table class="dataTable">
        <tr><td colspan="2">Imie i nazwisko: </td></tr>
        <tr><td colspan="2">Numer indeksu: </td></tr>
        <tr><td colspan="2">Telefon do kontaktu: </td></tr>
        <tr><td colspan="2">Adres e-mail: </td></tr>
        <tr>
            <td>Kierunek studiów: </td>
            <td style="padding-right: 100px">stopien:</td>
        </tr>
        <tr><td colspan="2">Średnia arytmetyczna ocen z I roku wskazanego kierunku studiów: </td></tr>
    </table>
    <h3 class="title3 title">Oświadczam, że</h3>
    <ul>
        <li>nie brałem/am wcześniej udziału w ww. projekcie</li>
        <li>nie pozostaję w stosunku pracy w pełnym wymiarze godzin</li>
        <li>wszystkie dane zawarte w niniejszym formularzu rekrutacyjnym są zgodne
            z prawdą na dzień złożenia formularza
        </li>
    </ul>
    <h3 class="title2">
        Jednocześnie przyjmuję do wiadomości, że w związku z sytuacją wywołaną epidemią COVID-19,
        z przyczyn niezależnych od Uniwersytetu w Białymstoku, program stażowy, do którego aplikuję w 2020 roku,
        może zostać odwołany. Oświadczam, że nie będę wysuwał/a wobec Uniwersytetu w Białymstoku żadnych roszczeń z tego tytułu.
    </h3>
    <table class="dataTable">
        <tr>
            <td>Miejscowość: </td>
            <td style="padding-right: 170px">Data: </td>
        </tr>
        <tr><td colspan="2">Czytelny podpis Kandydata/Kandydatki: </td></tr>
    </table>
    <h3 class="title2">
        WYPEŁNIA KOORDYNATOR STAŻU:
    </h3>
    <table class="coordinatorTable">
        <tr>
            <td style="padding-right: 100px">Numer zgłoszenia rekrutacyjnego:</td>
            <td>numer kolejny*/kierunek – skrót**/rok</td>
        </tr>
        <tr><td colspan="2">Data wpływu: </td></tr>
        <tr><td colspan="2">Podpis przyjmującego zgłoszenie: </td></tr>
    </table>
    <p class="p-small-top">* kolejny numer zgłoszenia, według daty wpływu do Koordynatora stażu</p>
    <p class="p-small-bootm">** biologia – Biol, chemia – Chem, matematyka – Mat, informatyka – Inf, ekonomia – Ekon, administracja – Adm, bezpieczeństwo narodowe – BN, kryminologia – Kr</p>
    <div class="footerIMG">
        <img th:src="@{/images/seal.png}">
    </div>
</div>
</body>
</html>