<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bill.css">
    <link rel="stylesheet" th:href="@{/css/bill.css}">
</head>
<body>
<div class="container">
    <p class="date">Białystok, dnia ............................</p>
    <h2 class="bold-font">RACHUNEK</h2>
    <div class="under-header">
        <p>wystawiony dla Uniwersytetu w Białymstoku, 15-328 Białystok, ul. Świerkowa 20 B, NIP 5422383747,</p>
        <p>
            REGON 050562207,
            <span class="bold-font">do umowy nr NU/S/.........../20..... z dnia ........................ </span>
        </p>
        <p>na realizację stażu w ramach projektu „Nowoczesny Uniwersytet szansą na rozwój przyszłych kadr </p>
        <p>regionu” nr POWR.03.05.00-00-Z218/18 <span class="bold-font">wraz z informacją o liczbie godzin odbytego stażu</span>
        </p>
    </div>
    <div class="student-credentials">
        <p>Nazwisko: <span></span></p>
        <p>Imię/Imiona: <span></span></p>
        <p>Imię ojca: <span></span></p>
        <p>Imię matki: <span></span></p>
        <p>Miejsce i data urodzenia: <span></span></p>
        <p>Numer PESEL: <span></span></p>
        <p>Adres: <span></span></p>
        <p>Numer rachunku bankowego: <span></span></p>
        <p>Urząd skarbowy: <span></span> za wykonanie umowy zlecenia wynagrodzenie w kwocie: <span></span></p>
    </div>
    <p class="confirmation">Oświadczam, że w okresie: <span></span> wykonałem/am: <span></span> godzin.</p>
    <div class="signatures">
        <div class="row">
            <div class="cell-right">
                <p>.......................................................</p>
                <p>podpis Stażysty</p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <p class="confirmation">Potwierdzam wykonanie umowy zlecenia nr NU/S/............../20....... z dnia
        .....................</p>
    <div class="signatures">
        <div class="row">
            <div class="cell smaller">
                <p>.........................................................................</p>
                <p>podpis osoby upoważnionej do odbioru pracy (Opiekuna stażu)</p>
            </div>
            <div class="cell">
                <p>.........................................................................</p>
                <p>podpis osoby reprezentującej Uczelnię</p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <p class="confirmation">Rachunek zatwierdzono do wypłaty z bezosobowego funduszu płac. Sprawdzono pod względem
        formalno-rachunkowym</p>
    <div class="signatures">
        <div class="row">
            <div class="cell">
                <p>............................................................</p>
                <p>Podpis</p>
            </div>
            <div class="cell">
                <p>............................................................</p>
                <p>Kwestor</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>