<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dziennik stażu</title>
    <link rel="stylesheet" href="../../static/css/internshipJournal.css">
    <link rel="stylesheet" th:href="@{/css/internshipJournal.css}">
</head>
<body>
<div class="container">
    <div class="credentials">
        <h1>Dziennik stażu</h1>
        <div class="under-header">
            <p>w ramach projektu</p>
            <p>„Nowoczesny Uniwersytet szansą na rozwój przyszłych kadr regionu” </p>
            <p>nr POWR.03.05.00-00-Z218/18</p>
        </div>
        <div class="student-credentials">
            <p>
                Imię i nazwisko studenta (Stażysty):
                <span th:text="${intern.student.firstName}"></span>
                <span th:text="${intern.student.lastName}"></span>
            </p>
            <p>Nr albumu: <span th:text="${intern.student.studentIndex}"></span></p>
            <p>Kierunek studiów: <span th:text="${intern.student.fieldOfStudy}"></span></p>
            <p>Nr umowy ze stażystą (wypełnia Koordynator stażu z UwB): NU/S/................/20..........</p>
        </div>
        <div class="company-credentials">
            <p>Miejsce odbywania stażu (Podmiot przyjmujący): <span th:text="${intern.company.companyName}"></span></p>
            <p>
                Okres odbywania stażu:
                od:<span th:text="${intern.company.startingDate}"></span>
                do:<span th:text="${intern.company.endingDate}"></span>
            </p>
        </div>
        <div class="representative-credentials">
            <p>
                Opiekun stażu:
                <span th:text="${intern.company.guardian.firstName}"></span>
                <span th:text="${intern.company.guardian.lastName}"></span>
            </p>
            <p>Stanowisko pracy Opiekuna stażu: <span th:text="${intern.company.guardian.position}"></span></p>
            <p>Nr telefonu służbowego: <span th:text="${intern.company.guardian.telephoneNumber}"></span></p>
            <p>E-mail służbowy: <span th:text="${intern.company.guardian.email}"></span></p>
        </div>
        <div class="coordinator-credentials">
            <p>
                Koordynator stażu dla kierunku:
                <span th:text="${intern.student.coordinator.firstName}"></span>
                <span th:text="${intern.student.coordinator.lastName}"></span>
            </p>
            <p>Nr telefonu służbowego: <span th:text="${intern.student.coordinator.telephoneNumber}"></span></p>
            <p>E-mail służbowy: <span th:text="${intern.student.coordinator.email}"></span></p>
        </div>
    </div>
    <div class="table">
        <table>
            <tr>
                <th>
                    <p>Dzień</p>
                </th>
                <th>
                    <p>Godziny pracy od - do</p>
                </th>
                <th>
                    <p>Liczba godzin pracy</p>
                </th>
                <th>
                    <p>Uwagi, obserwacje i wnioski studenta co do wykonywanej pracy</p>
                </th>
            </tr>
            <tr th:each="entry : ${intern.student.journal}">
                <td class="day-column">
                    <p><span th:text="${entry.day}"></span></p>
                </td>
                <td class="start-end-column">
                    <p>
                        <span th:text="${entry.startingTime}"></span> - <span th:text="${entry.endingTime}"></span>
                    </p>
                </td>
                <td class="hours-column">
                    <p><span th:text="${entry.hours}"></span></p>
                </td>
                <td class="description-column">
                    <p><span th:text="${entry.description}"></span></p>
                </td>
            </tr>
        </table>
    </div>
    <div class="signatures">
        <div class="row">
            <div class="cell">
                <p>podpis Opiekuna stażu</p>
            </div>
            <div class="cell">
                <p>podpis Koordynatora stażu na UwB</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>