<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dziennik stażu</title>
    <link rel="stylesheet" href="../../static/css/internshipJournal.css">
    <link rel="stylesheet" th:href="@{/css/internshipJournal.css}">
</head>
<body>
<div class="container">
    <h1>Dziennik stażu</h1>
    <div class="under-header">
        <p>w ramach projektu</p>
        <p>„Nowoczesny Uniwersytet szansą na rozwój przyszłych kadr regionu” </p>
        <p>nr POWR.03.05.00-00-Z218/18</p>
    </div>
    <div class="student-credentials">
        <p>Imię i nazwisko studenta (Stażysty):</p>
        <p>Nr albumu: </p>
        <p>Kierunek studiów: </p>
        <p>Nr umowy ze stażystą (wypełnia Koordynator stażu z UwB): NU/S/................/20..........</p>
    </div>
    <div class="company-credentials">
        <p>Miejsce odbywania stażu (Podmiot przyjmujący): </p>
        <p>Stanowisko, na którym odbywany jest staż: </p>
        <p>Okres odbywania stażu: </p>
    </div>
    <div class="representative-credentials">
        <p>Opiekun stażu: </p>
        <p>Stanowisko pracy Opiekuna stażu: </p>
        <p>Nr telefonu służbowego: </p>
        <p>E-mail służbowy: </p>
    </div>
    <div class="coordinator-credentials">
        <p>Koordynator stażu dla kierunku: </p>
        <p>Nr telefonu służbowego: </p>
        <p>E-mail służbowy:</p>
    </div>
    <div></div>
    <div class="signatures">
        <div class="row">
            <div class="cell">
                <p>podpis Opiekuna stażu</p>
            </div>
            <div class="cell">
                <p>podpis Koordynatora stażu na UwB</p>
            </div>
        </div>
    </div>
    <div class="line"></div>
</div>
</body>
</html>