<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/internshipBill.css">
    <link rel="stylesheet" th:href="@{/css/internshipBill.css}">
</head>
<body>
<div class="container">
    <p class="date">Białystok, dnia ............................</p>
    <h2 class="bold-font">RACHUNEK</h2>
    <div class="under-header">
        <p>wystawiony dla Uniwersytetu w Białymstoku, 15-328 Białystok, ul. Świerkowa 20 B, NIP 5422383747,</p>
        <p>
            REGON 050562207,
            <span class="bold-font">do umowy nr NU/S/.........../20..... z dnia ........................ </span>
        </p>
        <p>na realizację stażu w ramach projektu „Nowoczesny Uniwersytet szansą na rozwój przyszłych kadr </p>
        <p>regionu” nr POWR.03.05.00-00-Z218/18 <span class="bold-font">wraz z informacją o liczbie godzin odbytego stażu</span>
        </p>
    </div>
    <div class="student-credentials">
        <p>Nazwisko: <span th:text="${intern.student.lastName}"></span></p>
        <p>Imię/Imiona: <span th:text="${intern.student.firstName}"></span></p>
        <p>Imię ojca: <span th:text="${internshipBill.fathersName}"></span></p>
        <p>Imię matki: <span th:text="${internshipBill.mothersName}"></span></p>
        <p>Miejsce i data urodzenia:
            <span th:text="${internshipBill.birthLocation}"></span>
            <span th:text="${internshipBill.birthDate}"></span>
        </p>
        <p>Numer PESEL: <span th:text="${internshipBill.PESEL}"></span></p>
        <p>Adres:
            <span th:text="${intern.student.address.city}"></span>
            <span th:text="${intern.student.address.street}"></span>
            <span th:text="${intern.student.address.buildingNumber}"></span>
            <span th:text="${intern.student.address?.apartmentNumber}"></span>
            <span th:text="${intern.student.address.zipCode}"></span>
            <span th:text="${intern.student.address.postOffice}"></span>
        </p>
        <p>Numer rachunku bankowego: <span th:text="${internshipBill.bankAccountNumber}"></span></p>
        <p>Urząd skarbowy: <span th:text="${internshipBill.taxOffice}"></span> </p>
        <p>Kwota: 3000zł</p>
    </div>
    <p class="confirmation">
        Oświadczam, że w okresie:
        <span th:text="${intern.student?.company?.startingDate}"></span> -
        <span th:text="${intern.student?.company?.endingDate}"></span>
        wykonałem/am:
        <span th:text="${internshipBill.hoursSum}"></span> godzin.</p>
    <div class="signatures">
        <div class="row">
            <div class="cell-right">
                <p>.......................................................</p>
                <p>podpis Stażysty</p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <p class="confirmation">Potwierdzam wykonanie umowy zlecenia nr NU/S/............../20....... z dnia
        .....................</p>
    <div class="signatures">
        <div class="row">
            <div class="cell smaller">
                <p>.........................................................................</p>
                <p>podpis osoby upoważnionej do odbioru pracy (Opiekuna stażu)</p>
            </div>
            <div class="cell">
                <p>.........................................................................</p>
                <p>podpis osoby reprezentującej Uczelnię</p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <p class="confirmation">Rachunek zatwierdzono do wypłaty z bezosobowego funduszu płac. Sprawdzono pod względem
        formalno-rachunkowym</p>
    <div class="signatures">
        <div class="row">
            <div class="cell">
                <p>............................................................</p>
                <p>Podpis</p>
            </div>
            <div class="cell">
                <p>............................................................</p>
                <p>Kwestor</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>