<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Program stażu</title>
    <link rel="stylesheet" href="../../static/css/internshipProgram.css">
    <link rel="stylesheet" th:href="@{/css/internshipProgram.css}">
</head>
<body>
<div class="container">
    <h1>Program stażu</h1>
    <div class="under-header bold">
        <p>w ramach projektu „Nowoczesny Uniwersytet szansą na rozwój przyszłych kadr </p>
        <p>regionu”</p>
        <p>nr POWR.03.05.00-00-Z218/18</p>
    </div>
    <p class="bold">Stażysta</p>
    <div class="table">
        <div class="row">
            <div class="cell"><p>Imię:<span th:text="${intern.student.firstName}"></span></p></div>
            <div class="cell"><p>Nazwisko:<span th:text="${intern.student.lastName}"></span></p></div>
        </div>
        <div class="row">
            <div class="cell"><p>Stopień studiów: <span th:text="${intern.student.degree}"></span></p></div>
            <div class="cell"><p>Kierunek: <span th:text="${intern.student.fieldOfStudy}"></span></p></div>
        </div>
    </div>
    <p class="bold">Podmiot przyjmujący na staż</p>
    <div class="table">
        <div class="row">
            <div class="cell"><p>Nazwa:<span th:text="${intern.student?.company?.companyName}"></span></p></div>
        </div>
        <div class="row">
            <div class="cell"><p>Adres:
                <span th:text="${intern.student?.company?.address?.city}"></span>
                <span th:text="${intern.student?.company?.address?.street}"></span>
                <span th:text="${intern.student?.company?.address?.buildingNumber}"></span>
                <span th:text="${intern.student?.company?.address?.apartmentNumber}"></span>
                <span th:text="${intern.student?.company?.address?.zipCode}"></span>
                <span th:text="${intern.student?.company?.address?.postOffice}"></span>
            </p>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <p>Imię, nazwisko i stanowisko Opiekuna stażu:
                    <span th:each="guardian : ${intern.student?.company?.guardianList}">
                        <span th:text="${guardian?.firstName}"></span>,
                        <span th:text="${guardian?.lastName}"></span>,
                        <span th:text="${guardian?.position}"></span>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <p class="bold">Program stażu</p>
    <div class="table">
        <div class="row">
            <div class="cell"><p>Planowany okres stażu: od: <span th:text="${intern.student?.company?.startingDate}"></span>do:
                <span th:text="${intern.student?.company?.endingDate}"></span></p></div>
        </div>
        <div class="row">
            <div class="cell">
                <p>Szczegółowy program stażu:</p>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th>Strony uczestniczące</th>
            <th>Imię i nazwisko:
            </th>
            <th>E-mail służbowy</th>
            <th>Telefon służbowy</th>
            <th>Stanowisko</th>
            <th>Data</th>
            <th>Podpis</th>
        </tr>
        <tr>
            <td>Stażysta</td>
            <td>
                <span th:text="${intern.student.firstName}"></span>
                <span th:text="${intern.student.lastName}"></span>
            </td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td class="date"></td>
            <td></td>
        </tr>
        <tr>
            <td>Koordynator stażu dla kierunku</td>
            <td>
                <span th:text="${intern.student.coordinator.firstName}"></span>
                <span th:text="${intern.student.coordinator.lastName}"></span>
            </td>
            <td><span th:text="${intern.student.coordinator.email}"></span></td>
            <td><span th:text="${intern.student.coordinator.telephoneNumber}"></span></td>
            <td><span th:text="${intern.student.coordinator.position}"></span></td>
            <td class="date"></td>
            <td></td>
        </tr>
        <tr th:each="guardian : ${intern.student?.company?.guardianList}">
            <td>Opiekun Stażysty</td>
            <td>
                <span th:text="${guardian?.firstName}"></span>
                <span th:text="${guardian?.lastName}"></span>
            </td>
            <td><span th:text="${guardian?.email}"></span></td>
            <td><span th:text="${guardian?.telephoneNumber}"></span></td>
            <td><span th:text="${guardian?.position}"></span></td>
            <td class="date"></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>