<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Program stażu</title>
    <link rel="stylesheet" href="../../static/css/internshipProgram.css">
    <link rel="stylesheet" th:href="@{/css/internshipProgram.css}">
</head>
<body>
<div class="container">
    <h1>Program stażu</h1>
    <div class="under-header bold">
        <p>w ramach projektu „Nowoczesny Uniwersytet szansą na rozwój przyszłych kadr </p>
        <p>regionu”</p>
        <p>nr POWR.03.05.00-00-Z218/18</p>
    </div>
    <p class="bold">Stażysta</p>
    <div class="table">
        <div class="row">
            <div class="cell"><p>Imię:</p></div>
            <div class="cell"><p>Nazwisko:</p></div>
        </div>
        <div class="row">
            <div class="cell"><p>Stopień studiów:</p></div>
            <div class="cell"><p>Kierunek:</p></div>
        </div>
    </div>
    <p class="bold">Podmiot przyjmujący na staż</p>
    <div class="table">
        <div class="row">
            <div class="cell"><p>Nazwa:</p></div>
        </div>
        <div class="row">
            <div class="cell"><p>Adres:</p></div>
        </div>
        <div class="row">
            <div class="cell"><p>Imię i nazwisko Opiekuna stażu:</p></div>
        </div>
        <div class="row">
            <div class="cell"><p>Stanowisko pracy Opiekuna stażu:</p></div>
        </div>
    </div>
    <p class="bold">Program stażu</p>
    <div class="table">
        <div class="row">
            <div class="cell"><p>Planowany okres stażu: od: <span></span>do: <span></span></p></div>
        </div>
        <div class="row">
            <div class="cell">
                <p>Szczegółowy program stażu:</p>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th>Strony uczestniczące</th>
            <th>Imię i nazwisko</th>
            <th>E-mail służbowy</th>
            <th>Telefon służbowy</th>
            <th>Stanowisko</th>
            <th>Data</th>
            <th>Podpis</th>
        </tr>
        <tr>
            <td>Stażysta</td>
            <td></td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Koordynator staży dla kierunku</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Opiekun Stażysty</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>