<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Deklaracja planowanej praktyki zawodowej</title>
<!--    <link rel="stylesheet" href="../../static/css/trainingDeclaration.css">-->
    <link rel="stylesheet" th:href="@{/css/trainingDeclaration.css}">
</head>
<body>
<div class="container">
    <p class="align-left">Białystok, dnia ..........................................</p>
    <h1>DEKLARACJA PLANOWANEJ PRAKTYKI ZAWODOWEJ</h1>
    <h1>w roku akademickim <span class="year" th:text="${date.year}"></span>/<span class="year" th:text="${date.year+1}"></span></h1>
    <h1>organizowanej przez Instytut Informatyki Uniwersytetu w Białymstoku</h1>
    <table class="information-table">
        <tr>
            <td><p>Imiona i nazwisko studenta</p></td>
            <td class="information-table-content">
                <span th:text="${student.firstName}"></span>
                <span th:text="${student.lastName}"></span>
            </td>
        </tr>
        <tr>
            <td><p>Nr albumu</p></td>
            <td class="information-table-content"><span th:text="${student.studentIndex}"></span></td>
        </tr>
        <tr>
            <td><p>Kierunek i stopień studiów</p></td>
            <td class="information-table-content">
                <span th:text="${student.fieldOfStudy}"></span>
                <span th:text="${student.degree}"></span>
            </td>
        </tr>
        <tr>
            <td><p>Termin odbywania praktyk</p></td>
            <td class="information-table-content">
            <p class="starting-date">od: <span th:text="${student?.company?.startingDate}"></span></p>
            <p class="ending-date">do: <span th:text="${student?.company?.endingDate}"></span></p></td>
        </tr>
        <tr>
            <td><p>Nazwa organizatora praktyki</p></td>
            <td class="information-table-content"><span th:text="${student?.company?.companyName}"></span></td>
        </tr>
        <tr>
            <td><p>Adres organizatora praktyki</p></td>
            <td class="information-table-content">
                <span th:text="${student?.company?.address?.city}"></span>
                ,<span th:text="${student?.company?.address?.street}"></span>
                ,<span th:text="${student?.company?.address?.buildingNumber}"></span> <span th:if="${student?.company?.address?.apartmentNumber != null}">/</span>
                <span th:text="${student?.company?.address?.apartmentNumber}"></span>
                ,<span th:text="${student?.company?.address?.zipCode}"></span>
                ,<span th:text="${student?.company?.address?.postOffice}"></span>.
            </td>
        </tr>
    </table>
    <p>Ja niżej podpisany(-na) oświadczam, że:</p>
    <ul>
        <li>uzyskałem(-am) wstępną zgodę organizatora praktyki przyjęcia na praktykę</li>
        <li>podczas odbywania praktyki posiadam/nie posiadam1 ubezpieczenie od NNW,</li>
        <li>zapoznałem się z treścią umowy zawartej z organizatorem praktyki i zobowiązuję się do przestrzegania jej
            postanowień.
        </li>
    </ul>
    <p>Zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r.
        w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
        swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE przyjmuję do wiadomości, że:</p>
    <ol>
        <li>udostępniane są moje dane osobowe (imię, nazwisko, nr albumu, kierunek studiów) organizatorowi
            praktyki zawodowej,
        </li>
        <li>udostępniane są moje dane osobowe (imię, nazwisko, numer pesel, kierunek studiów, forma studiów,
            okres odbywania praktyki) podmiotowi ubezpieczającemu mnie w trakcie odbywania praktyki zawodowej
            oraz innym podmiotom uczestniczącym w procesie ubezpieczenia studentów na podstawie zawartych umów
            z Uniwersytetem w Białymstoku.
        </li>
    </ol>
    <p>Przyjmuję do wiadomości, że jest to niezbędne do realizacji obowiązkowych praktyk zawodowych jako
        części procesu dydaktycznego wynikającego z programu studiów w Uniwersytecie w Białymstoku.
    </p>
    <div class="signature">
        <p>.............................................</p>
        <p>podpis studenta</p>
    </div>
</div>

</body>
</html>