<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Umowa_Praktyka_2020</title>
    <link rel="stylesheet" th:href="@{/css/trainingAgreement.css}">
<!--    <link rel="stylesheet" href="../../static/css/trainingAgreement.css">-->
</head>
<body>
<div class="container">
    <h1>
        UMOWA O ORGANIZACJĘ PRAKTYKI ZAWODOWEJ
    </h1>
    <p>Dnia ................................... r. pomiędzy:</p>
    <p class="inline">
    <p class="bold">Uniwersytetem w Białymstoku</p>, ul. Świerkowa 20 B, 15-328 Białystok, Instytutem Informatyki z
    siedzibą w Białymstoku, ul Ciołkowskiego 1M, 15-245 Białystok zwanym dalej <p class="bold">"Uczelnią"</p>, a
    <p th:text="${student.company.companyName}"></p>
    <p>(pełna nazwa instytucji przyjmującej studenta na praktykę)</p>
    <p>z siedzibą:
        <span th:text="${student.company.address.city}"></span>
        <span th:text="${student.company.address.street}"></span>
        <span th:text="${student.company.address.buildingNumber}"></span>
        <span th:text="${student.company.address?.apartmentNumber}"></span>
        <span th:text="${student.company.address.zipCode}"></span>
        <span th:text="${student.company.address.postOffice}"></span>
    </p>
    <p>(adres instytucji przyjmującej studenta na praktykę)</p>
    <p>reprezentowanym przez:
        <span th:text="${student.company.representative.position}"></span>
        <span th:text="${student.company.representative.firstName}"></span>
        <span th:text="${student.company.representative.lastName}"></span>
    </p>
    <p>(stanowisko, imię i nazwisko osoby reprezentującej instytucję)</p>
    <p>zwanym w dalszej części umowy ,,Organizatorem praktyki”.</p>
    <p class="paragraph">§ 1</p>
    <p>Uczelnia kieruje do Organizatora praktyki niżej wymienionego studenta</p>
    <p>
        <span th:text="${student.firstName}"></span>
        <span th:text="${student.lastName}"></span>
        <span th:text="${student.studentIndex}"></span>
    </p>
    <p>(imię, nazwisko, numer albumu)</p>
    <p>do odbycia nieodpłatnej praktyki zawodowej przewidzianej programem studiów w terminie </p>
    <p>
        od:
        <span th:text="${student.company.startingDate}"></span>
        do:
        <span th:text="${student.company.endingDate}"></span>
    </p>
    <p>(termin odbywania praktyk)</p>
    <p class="paragraph">§ 2</p>
    <p>W czasie odbywania praktyki Organizator praktyki:</p>
    <ol class="bracket">
        <li>zapewnia studentowi odpowiednie stanowisko pracy,</li>
        <li>organizuje praktykę zgodnie z programem praktyk przedstawionym przez Uczelnię, który będzie stanowić
            Załącznik do niniejszej Umowy,
        </li>
        <li>sprawuje nadzór nad właściwym wykonywaniem przez studenta czynności zgodnych z programem praktyki.</li>
    </ol>
    <p class="paragraph">§ 3</p>
    <p>W celu zapewnienia realizacji powyższych zadań Organizator praktyki wyznacza z grona swoich pracowników opiekuna
        praktyk</p>
    <p>
        <span th:text="${student.company.guardian.firstName}"></span>
        <span th:text="${student.company.guardian.lastName}"></span>,
        <span th:text="${student.company.guardian.telephoneNumber}"></span>,
        <span th:text="${student.company.guardian.email}"></span>.
    </p>
    <p>(imię i nazwisko, dane kontaktowe: tel., e-mail)</p>
    <p>Uczelnia z grona nauczycieli akademickich wyznacza opiekuna praktyki </p>
    <p>
        <span th:text="${student.coordinator.firstName}"></span>
        <span th:text="${student.coordinator.lastName}"></span>,
        <span th:text="${student.coordinator.telephoneNumber}"></span>,
        <span th:text="${student.coordinator.email}"></span>.
    </p>
    <p>(imię i nazwisko, dane kontaktowe: tel., e-mail)</p>
    <p class="paragraph">§ 4</p>
    <ol>
        <li>
            Student zobowiązany jest do:
            <ol class="bracket">
                <li>rozpoczęcia, realizowania i ukończenia praktyki zgodnie z programem praktyk i terminem określonym w
                    umowie,
                </li>
                <li>przestrzegania ustalonego czasu odbywania praktyki oraz przepisów i zasad obowiązujących u
                    organizatora praktyki,
                    w szczególności zasad bhp i ppoż., porządku obowiązującego w miejscu odbywania praktyki i regulaminu
                    pracy,
                </li>
                <li>dbania o zachowanie w tajemnicy informacji, których ujawnienie mogłoby narazić Organizatora praktyki
                    na szkodę.
                </li>
            </ol>
        </li>
        <li>Organizator praktyki oświadcza, że w trakcie odbywania praktyki student nie będzie świadczył pracy na rzecz
            Organizatora praktyki na podstawie stosunku pracy lub innej umowy cywilnoprawnej.
        </li>
    </ol>
    <p class="paragraph">§ 5</p>
    <p>Opiekun praktyki ze strony Organizatora praktyki formułuje opinię na temat przebiegu praktyki
        i realizacji zadań objętych jej programem (w formie oceny opisowej oraz oceny w stopniu ).
    </p>
    <p class="paragraph">§ 6</p>
    <p>Zaliczenia praktyki dokonuje opiekun ze strony Uczelni (w formie oceny w stopniu) na podstawie opinii, o której
        mowa w § 5, przedstawionej przez Organizatora praktyki. </p>
    <p class="paragraph">§ 7</p>
    <p>Organizator praktyki może zażądać od Uczelni odwołania studenta z praktyki w wypadku, gdy naruszy on w sposób
        rażący dyscyplinę pracy, w tym również wtedy, gdy nie wykonuje on zadań wynikających z programu praktyki.</p>
    <p class="paragraph">§ 8</p>
    <p>W sprawach nieuregulowanych niniejszą umową zastosowanie mają przepisy ustawy z dnia
        20 lipca 2018 r. Prawo o szkolnictwie wyższym i nauce (t. j. Dz. U. z 2020 r., poz. 85 z późn. zm.) oraz
        regulamin praktyk zawodowych w Instytucie Informatyki Uniwersytetu w Białymstoku.
    </p>
    <p class="paragraph">§ 9</p>
    <p class="last">Umowę sporządzono w dwóch jednobrzmiących egzemplarzach po jednym dla każdej ze stron.</p>
    <div class="signatures">
        <div class="academy-signature">
            <p>.........................................................</p>
            <p>UCZELNIA</p>
        </div>
        <div class="employer-signature">
            <p>.........................................................</p>
            <p>ORGANIZATOR PRAKTYKI</p>
        </div>
    </div>
</div>
</body>
</html>